@using ObjectModel.Directory.MarketObjects
@model KadOzenka.Web.Models.MarketObject.CorrectionSettingsModel

@using (Html.BeginForm("CorrectionSettings", "MarketObjects", FormMethod.Post))
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.CorrectionType)
            </div>
            <div class="col-sm-10">
                @Html.KendoEnumDropDownListFor(m => m.CorrectionType, isReadonly: false, withoutNull: true)
            </div>
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-3">
                @Html.CustomLabel((Model.CorrectionType == CorrectionTypes.CorrectionByRoom ? "Нижний предел коэффициента для однокомнатных квартир" : "Нижний предел коэффициента"), false, classCSS: "lowerCoefLabel")
            </div>
            <div class="col-sm-9">
                @Html.Kendo().NumericTextBoxFor(m => m.LowerLimitForCoefficient).Spinners(false).Format($"N{4}").HtmlAttributes(new {style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                @Html.CustomLabel((Model.CorrectionType == CorrectionTypes.CorrectionByRoom ? "Верхний предел коэффициента для однокомнатных квартир" : "Верхний предел коэффициента"), false, classCSS: "upperCoefLabel")
            </div>
            <div class="col-sm-9">
                @Html.Kendo().NumericTextBoxFor(m => m.UpperLimitForCoefficient).Spinners(false).Format($"N{4}").HtmlAttributes(new {style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group correctionByRoomSettings" style="@(Model.CorrectionType == CorrectionTypes.CorrectionByRoom ? "" : "display: none")">
            <div class="col-sm-3">
                @Html.CustomLabel("Нижний предел коэффициента для многокомнатных квартир", false)
            </div>
            <div class="col-sm-9">
                @Html.Kendo().NumericTextBoxFor(m => m.LowerLimitForTheSecondCoefficient).Spinners(false).Format($"N{4}").HtmlAttributes(new {style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group correctionByRoomSettings" style="@(Model.CorrectionType == CorrectionTypes.CorrectionByRoom ? "" : "display: none")">
            <div class="col-sm-3">
                @Html.CustomLabel("Верхний предел коэффициента для многокомнатных квартир", false)
            </div>
            <div class="col-sm-9">
                @Html.Kendo().NumericTextBoxFor(m => m.UpperLimitForTheSecondCoefficient).Spinners(false).Format($"N{4}").HtmlAttributes(new {style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <button style="float: right" class="k-button" id="save" type="button">Сохранить</button>
            </div>
        </div>
    </div>
}

<script src="~/js/custom-validation.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#@(nameof(Model.CorrectionType))').data('kendoDropDownList').bind("change", onTypeChanged);

        $('#save').on('click',
            function () {
                kendo.ui.progress($('body'), true);
                var form = $('form');
                var formObject = Common.Functions.FormToObject(form);

                $.post(form.attr('action'), formObject).done(function (response) {
                    if (response.Errors) {
                        var errors = getErrors(response.Errors);
                        Common.ShowError(errors);
                        return;
                    }
                    if (response.success) {
                        Common.ShowMessage("Настройки успешно сохранены");
                    }
                }).fail(function (response, textStatus, errorThrown) {
                    Common.ShowError(response.responseText);
                }).always(function() {
                    kendo.ui.progress($('body'), false);
                });
            });
    });

    function onTypeChanged(e) {
        kendo.ui.progress($('body'), true);
        debugger;
        var value = this.value();
        $.get("/MarketObjects/GetCorrectionSettingsInfo", { "correctionType": value}).done(function (response) {
            debugger;
            $('#@(nameof(Model.LowerLimitForCoefficient))').data('kendoNumericTextBox').value(response.LowerLimitForCoefficient);
            $('#@(nameof(Model.UpperLimitForCoefficient))').data('kendoNumericTextBox').value(response.UpperLimitForCoefficient);
            $('#@(nameof(Model.LowerLimitForTheSecondCoefficient))').data('kendoNumericTextBox').value(response.LowerLimitForTheSecondCoefficient);
            $('#@(nameof(Model.UpperLimitForTheSecondCoefficient))').data('kendoNumericTextBox').value(response.UpperLimitForTheSecondCoefficient);
            if (value == '@CorrectionTypes.CorrectionByRoom.GetEnumCode()') {
                $('.correctionByRoomSettings').each(function() {
                    $(this).show();
                });
                $(".lowerCoefLabel").text("Нижний предел коэффициента для однокомнатных квартир");
                $(".upperCoefLabel").text("Верхний предел коэффициента для однокомнатных квартир");
            } else
            {
                $('.correctionByRoomSettings').each(function() {
                    $(this).hide();
                });
                $(".lowerCoefLabel").text("Нижний предел коэффициента");
                $(".upperCoefLabel").text("Верхний предел коэффициента");
            }
        }).fail(function (response, textStatus, errorThrown) {
            Common.ShowError(response.responseText);
        }).always(function() {
            kendo.ui.progress($('body'), false);
        });
    }
</script>


