@using Platform.Web.Models.Account;
@model LoginDto

<style type="text/css">
	body {
		background-color: whitesmoke;
	}

	#UserName:-webkit-autofill,
	#UserName:-webkit-autofill:hover,
	#UserName:-webkit-autofill:focus,
	#UserName:-webkit-autofill:active,
	#Password:-webkit-autofill,
	#Password:-webkit-autofill:hover,
	#Password:-webkit-autofill:focus,
	#Password:-webkit-autofill:active {
		-webkit-text-fill-color: white !important;
		/*-webkit-box-shadow: 0 0 0px 1000px transparent inset;*/
		transition: background-color 5000s ease-in-out 0s;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
	}

	#MainPanel input[type=text],
	#MainPanel input[type=text]:hover,
	#MainPanel input[type=text]:focus,
	#MainPanel input[type=text]:active,
	#MainPanel input[type=password],
	#MainPanel input[type=password]:hover,
	#MainPanel input[type=password]:focus,
	#MainPanel input[type=password]:active {
		border: 0;
		border: 1px solid rgba(11, 23, 33, 0.6) !important;
		border-radius: 0;
		outline: none;
		background: transparent;
		color: white;
		text-align: center;
	}

		#MainPanel input[type=text],
		#MainPanel input[type=password] #MainPanel input[type=password] { /* Firefox, Chrome, Opera */
			color: blue;
		} 

		#loginPage * {
			font-family: Roboto;
			font-style: normal;
		}

	#loginPage .logo {
		width: 482px;
		height: 433px;
		top: 50%;
		left: 50%;
		margin-left: -270px;
		margin-top: -287px;
		position: absolute;
		box-sizing: border-box;
		background: rgba(79, 108, 141, 0.79);
		/*box-shadow: 0px 20px 40px rgba(35, 66, 84, 0.15);*/
		border-radius: 10px;
	}

	#loginPage .logo-background {
		background-image: url(../images/region_logo.png);
		background-size: 100% 100%;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10;
		-webkit-filter: brightness(1.5) saturate(70%);
		filter: brightness(1.5) saturate(70%);
	}

	#loginPage .logo-title-block {
		padding: 10px;
        text-align: center;
	}

	#loginPage .logo .footer-block {
		padding: 15px;
		text-align: center;
		background-color: #16262F;
		box-shadow: 0px 20px 40px rgba(35, 66, 84, 0.15);
		border-radius: 0px 0px 10px 10px;
	}

		#loginPage .logo .footer-block .sub-title {
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #516C86;
			width: 330px;
			margin: 0 auto;
		}

	#loginPage .logo-title-block .logo-title {
		position: relative;
		width: 409px;
		height: 66px;
		font-weight: 300;
		font-size: 30px;
		line-height: 33px;
		text-align: center;
		color: #D6D6D6;
	}

    #loginPage .logo-title-block .sub-info {
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: white;
    }

	#loginPage label {
		color: #333;
		margin-bottom: auto;
		padding-right: 10px;
	}

	#loginPage td {
		white-space: nowrap;
	}

	#loginPage input[type="password"] {
		margin: 2px 0px;
	}

    input::placeholder {
        color: rgba(11, 23, 33, 1);
    }
</style>
<form action="@Url.Action("Login")" method="post" id="loginPage">
	@(Html.AntiForgeryToken())
	<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
	<div class="logo-background">
		<div class="logo">
            <div class="logo-title-block">
                <div class="form-horizontal col-sm-12" style="padding: 2%">
                    <div class="form-group">
                            <div class="col-sm-2">
                                <img src="~/images/region_arms.png" id="imgLogin">
                            </div>
                            <div class="col-sm-10 sub-info">
                                <span>Государственное бюджетное учреждение Московской области «Центр кадастровой оценки»</span>
                            </div>
                        </div>
                    </div>
                <span class="logo-title">Подсистема кадастровой оценки</span>
            </div>

			<div id="MainPanel">
				<div class="form-horizontal col-sm-12" style="margin-top: 37px; margin-bottom: 37px;">
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							@Html.TextBoxFor(x => x.UserName, new {@class = "k-textbox", style = "width: 100%;color: #D6D6D6;", placeholder = "Имя пользователя"})
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							@Html.PasswordFor(x => x.Password, new {@class = "k-textbox", style = "width: 100%;color: #D6D6D6;", placeholder = "Пароль"})
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							@Html.ValidationMessage("UserName", "", new {style = "width:100%;color:#891B1B;"})<br/>
							@Html.ValidationMessage("Password", "", new {style = "width:100%;color:#891B1B;"})
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-4" style="text-align: left">
							<a href="javascript:void(0)" style="color: rgb(11, 23, 33);">Забыли пароль?</a>
						</div>
						<div class="col-sm-4" style="text-align: right">
							<input type="submit" value="Войти" class="k-button" tabindex="-1" style="width: 100%; background: rgba(11, 23, 33, 0.6); border: none; color: white; border-radius: 6px;">
						</div>
						<div class="col-sm-2"></div>
					</div>
				</div>
			</div>
			@*<div class="footer-block">
				<div class="sub-title">@ViewBag.ApplicationSubName</div>
			</div>*@
		</div>
	</div>
</form>
<script>
    $(document).ready(function () {
        $('#UserName').focus();
    });
</script>