@using CIPJS.Models.Tenements
@model InsuranceObjectsDto

<form>
    <ul id="ls_panelbar" class="panelbar">
        <li id="COMON_DATA">
            <span>Общие данные</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.UploadDate)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoDatePickerFor(x => x.UploadDate)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.InInsuranceProgram)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoCheckBoxFor(x => x.InInsuranceProgram)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.Unom)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoTextBoxFor(x => x.Unom)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.BuildingStatusByGBU)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoReferenceDropDownListFor(x => x.BuildingStatusByGBU, 12163)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.CadastralNumber)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoTextBoxFor(x => x.CadastralNumber)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.CadastralRegistrationDate)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoDatePickerFor(x => x.CadastralRegistrationDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.BuildingStatus)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoEnumDropDownListFor(x => x.BuildingStatus)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.BuildingPurpose)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoEnumDropDownListFor(x => x.BuildingPurpose)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.BtiStatus)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoEnumDropDownListFor(x => x.BtiStatus)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.Note)
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxAreaFor(x => x.Note, 1, 2, true)
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="ADDRESS">
            <span>Сведения об адресе</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.Okrug)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoDictionaryDropDownListFor(x => x.Okrug, x => x.Name)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.District)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoDictionaryDropDownListFor(x => x.District, x => x.Name)
                        </div>
                    </div>
                    @await Html.PartialAsync("InsuranceObjectAddress.cshtml", Model)
                </div>
            </div>
        </li>
        <li id="COMON_INFO">
            <span>Общие сведения</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.ConstructionYear)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoTextBoxFor(x => x.ConstructionYear)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.ApartmentsCount)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.ApartmentsCount)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.FloorsCount)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.FloorsCount)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.PassengerElevatorsCount)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.PassengerElevatorsCount)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.FreightElevatorsCount)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.FreightElevatorsCount)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.TotalArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.TotalArea, 2)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.UninhabitedPremiseArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.UninhabitedPremiseArea, 2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.DwellingArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.DwellingArea, 2)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.BalconyArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.BalconyArea, 2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.LoggiasArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.LoggiasArea, 2)
                        </div>
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(x => x.ColdRoomArea)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoNumericTextBoxFor(x => x.ColdRoomArea, 2)
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="static-nav">
        <nav id="navigation-menu">
            <a href="#COMON_DATA">Общие данные</a>
            <a href="#ADDRESS">Сведения об адресе</a>
            <a href="#COMON_INFO">Общие сведения</a>
            <div id="toolbar" style="position:absolute; bottom: 20px; width: 95%;"></div>
        </nav>
    </div>
</form>
<script>
    $(function () {
        var panelbar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
        KendoExtension.ToggleEditMode(true);
        panelbar.expand($('li'));

        $("#navigation-menu a").mPageScroll2id({
            highlightSelector:"#navigation-menu a"
        });
        
        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: '',
                    icon: 'save',
                    id: 'save',
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CreateInsuranceObject", "Tenements")',
                            data: $('form').serialize(),
                            success: function (e) {
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors);
                                } else {
                                    Common.ShowMessage('Объект МКД успешно создан');
                                    setTimeout(function () {
                                        location.href = '@Html.Raw(Url.Action("", "ObjectCard",  new { RegisterViewId = "Tenements", isVertical = true, useMasterPage = true }))' + '&ObjId=' + e.Data;
                                    }, 1000);
                                }

                                kendo.ui.progress($('body'), false);
                            }, error: function (e) {
                                Common.ShowError(e.responseText)
                                kendo.ui.progress($('body'), false);
                            }
                        });
                    }
                }
            ]
        }).data('kendoToolBar');

        $('#Okrug_Id').data('kendoDropDownList').setOptions({
            change: function () {
                var value = this.value();

                if (value && value.length > 0) {
                    $('#District_Id').data('kendoDropDownList').dataSource.read({ '321000400': value });
                }
            }
        });

        $('#Okrug_Id').data('kendoDropDownList').trigger('change');

        $('.static-nav a').on('click', function (e) {
            e.preventDefault();
            var elementId = $(e.target).attr('href');
            if (elementId && $(elementId).offset()) {
                $('html,body').animate({ scrollTop: $(elementId).offset().top - 9 }, 500);
            }
        });
    });
</script>