@using CIPJS.Models.Tenements

@model InsuranceObjectNoteDto


<div class="form-group">
    <div class="col-sm-2">
        @Html.CustomLabelFor(x => x.Note)
    </div>
    <div class="col-sm-2">
         Последнее изменение: @Model.ChangeUser @Model.ChangeDateTime
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        @Html.TextBoxAreaFor(x => x.Note, 1, 5)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2">
        @(Html.Kendo().Button()
                                            .Name("Submit")
                                            .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                            .Content("Сохранить")
                                            .Events(ev => ev.Click("onClickSubmit")))
    </div>
</div>

<script>
    function onClickSubmit(e) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("InsuranceObjectNote", "Tenements")',
            data: { 'EmpId': '@Model.EmpId', 'Note': $('#Note').val() },
            success: function (result) {
                objectId = result.ObjectId;
                Common.ShowMessage("Данные успешно сохранены");
            },
            error: function (response) {
                Common.ShowError(response.responseText);
            }
        });
    }
</script>