@using KadOzenka.Web.Helpers
@using Microsoft.AspNetCore.Routing
@model KadOzenka.Dal.Models.Filters.Filters

@{ var idPrefix = ViewData.TemplateInfo.HtmlFieldPrefix.Replace("[", "_").Replace("]", "_").Replace(".", "_");}
<div class="row" id="@(ViewData.TemplateInfo.HtmlFieldPrefix+"_filterTypeContainer")" hidden>
    <div class="col-sm-3">
        @Html.KendoDropDownListEnumFor(m=>m.Type)
    </div>
</div>


<div class="row" id="@(idPrefix+"_stringFilterContainer")">
    <div class="col-sm-3">
        @Html.KendoDropDownListEnumFor(m=>m.StringFilter.FilteringType)
    </div>
    <div class="col-sm-4" id="@(idPrefix+"_stringFilterValueContainer")">
        @Html.Kendo().TextBoxFor(m=>m.StringFilter.Value).HtmlAttributes(new RouteValueDictionary{ {"class","k-input"} })
    </div>
    <div class="col-sm-4" id="@(idPrefix+"_stringFilterValueMultiContainer")" hidden>
        @Html.HiddenFor(m=>m.StringFilter.ValueMulti)
        <select id="@(idPrefix+"_stringValueMulti")"></select>
    </div>
</div>

<div class="row" id="@(idPrefix+"_numberFilterContainer")">
    <div class="col-sm-3">
        @Html.KendoDropDownListEnumFor(m=>m.NumberFilter.FilteringType)
    </div>
    <div id="@(idPrefix + "_numberFilterValueContainer")" class="col-sm-4">
        @Html.Kendo().NumericTextBoxFor(m => m.NumberFilter.Value)
    </div>
    <div id="@(idPrefix + "_numberFilterValue2Container")" class="col-sm-4" hidden>
        @Html.Kendo().NumericTextBoxFor(m => m.NumberFilter.Value2)
    </div>
</div>

<div class="row" id="@(idPrefix+"_dateFilterContainer")">
    <div class="col-sm-3">
        @Html.KendoDropDownListEnumFor(m=>m.DateFilter.FilteringType)
    </div>
    <div id="@(idPrefix + "_dateFilterValueContainer")" class="col-sm-4">
        @Html.KendoDatePickerFor(m => m.DateFilter.Value, isReadonly: false)
    </div>
    <div id="@(idPrefix + "_dateFilterValue2Container")" class="col-sm-4" hidden>
        @Html.KendoDatePickerFor(m => m.DateFilter.Value2, isReadonly: false)
    </div>
</div>

<div class="row" id="@(idPrefix+"_boolFilterContainer")">
    <div class="col-sm-3">
        @Html.KendoDropDownListEnumFor(m=>m.BoolFilter.FilteringType)
    </div>
    <div class="col-sm-1" id="@(idPrefix+"_BoolFilterValueContainer")">
        @Html.KendoCheckBoxFor(m=>m.BoolFilter.Value, isReadonly:false)
    </div>
</div>