@using System.Collections.Generic
@model List<CIPJS.Models.DamageAnalysis.CheckListDto>

<style>
    .k-grid td {
        white-space: inherit;
    }
</style>
<form>
    @for (int i= 0; i < Model.Count; i++)
    {
    <input type="hidden" name="ids[@i]" value="@Model[i].Id" />
    }
    <div id="toolbar"></div>
    @if (ViewBag.ErrorMessage != null)
    {
    <div style="padding: 10px;">@ViewBag.ErrorMessage</div>
    }
    else
    {
    <table id="grid">
        <colgroup>
            <col width="30px" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th data-field="Ordinal">№</th>
                <th data-field="CreateDate">Дата создания</th>
                <th data-field="Number">Номер дела</th>
                <th data-field="SK">Название СК</th>
                <th data-field="FIO">ФИО</th>
                <th data-field="DateSS">Дата СС</th>
                <th data-field="Amount">Размер ущерба</th>
                <th data-field="CityPart">Доля города</th>
                <th data-field="DamageStatus">Статус дела</th>
                <th data-field="UNOM">UNOM</th>
                <th data-field="Address">Адрес</th>
                <th data-field="FlatNumber">Номер квартиры</th>
                <th data-field="Status">Статус записи</th>
                <th data-field="User">Пользователь</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>@(i + 1)</td>
                <td>@(Model[i].CreateDate.HasValue ? Model[i].CreateDate.Value.ToString("dd.MM.yyyy") : "")</td>
                <td>@Model[i].Number</td>
                <td>@Model[i].SK</td>
                <td>@Model[i].FIO</td>
                <td>@(Model[i].DateSS.HasValue ? Model[i].DateSS.Value.ToString("dd.MM.yyyy") : "")</td>
                <td><div style="text-align: right">@(Model[i].Amount.HasValue ? Model[i].Amount.Value.ToString("N2") : "")</div></td>
                <td><div style="text-align: right">@(Model[i].CityPart.HasValue ? Model[i].CityPart.Value.ToString("N2") : "")</div></td>
                <td>@Model[i].DamageStatus</td>
                <td>@Model[i].UNOM</td>
                <td>@Model[i].Address</td>
                <td>@Model[i].FlatNumber</td>
                <td>@Model[i].Status</td>
                <td>@Model[i].User</td>
            </tr>
            }
        </tbody>
    </table>
    }
</form>
@if (ViewBag.ErrorMessage == null)
{
<script type="text/javascript">
    $(function () {
        $('#grid').kendoGrid({ sortable: false });

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Установить статус Проверено',
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CheckList", "DamageAnalysis")',
                            data: $('form').serialize(),
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors);
                                } else {
                                    Common.ShowMessage('Операция успешно выполнена');
                                    setTimeout(function () { Common.UI.CloseWindow('registerModalWindow', window.parent); }, 2000);
                                }
                            }, error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                },
                {
                    type: 'button',
                    text: 'Отмена',
                    click: function () {
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });
    });
</script>
}