@using Newtonsoft.Json;
@using CIPJS.DAL.DamageAnalysis;

@model SetBaseDamageDto

@{ 
    var message = Model.IsSetValueType ? "Внимание! Вы подтверждаете что дело является дополнительной выплатой? Введите номер дела." :
        "Вы подтверждаете что дело не является дополнительной выплатой?";
}

<div class="form-horizontal col-sm-12 modal-dialog-content">
    <div class="modal-dialog-type" style="padding: 15px;min-height: 60px;">
        <span class="k-icon k-i-question" style="font-size: 50px;color: #787878"></span>
        <span class="modal-dialog-message" style="margin-left: 10px;">@message</span>
    </div>
    @Html.Hidden("BaseDamageId")

    @if (Model.IsSetValueType)
    {
        <div class="form-group" style="border-top: solid 1px #00000033;">
            <div class="form-horizontal col-sm-12">
                <div class="form-group"></div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabel("Номер дела")
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoAutoCopmplite("BaseDamageNomDoc", null, "NomDoc", "DamageAnalysis", "GetDamageByNomDoc", "function() {return {nomDoc: $('#BaseDamageNomDoc').val() };}", isReadonly: false, height: 100)
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="form-group" style="border-top: solid 1px #00000033;">
        <div class="modal-dialog-footer" style="text-align: left;padding: 10px 10px 0 0;">
            <button style="margin-left:10px;" class="k-primary k-button button-yes">Да</button>
            <button style="margin-left:10px;" class="k-button button-no">Отмена</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var damageId = @Html.Raw(JsonConvert.SerializeObject(Model.DamageId)),
        isSetValueType = @Html.Raw(JsonConvert.SerializeObject(Model.IsSetValueType)),
        currentWindow = Common.UI.GetWindow('SetBaseDamageWindow', window.parent);

    $(function () {
        var baseDamageNomDocAutoComplete = null;
        if (isSetValueType) {
            baseDamageNomDocAutoComplete = $('#BaseDamageNomDoc').data('kendoAutoComplete');
            baseDamageNomDocAutoComplete.bind("select", function (e) {
                $('[name="BaseDamageId"]').val(e.dataItem.Id);
            });
            baseDamageNomDocAutoComplete.setOptions({ noDataTemplate: false });
        }

        $('.modal-dialog-content').on('click', '.button-yes', function () {
            Common.ClearNotification();

            var baseDamageId = kendo.parseInt($('[name="BaseDamageId"]').val()),
                baseDamageNomDoc = baseDamageNomDocAutoComplete != null ? baseDamageNomDocAutoComplete.value() : null;

            kendo.ui.progress($('body'), true);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetBaseDamage", "DamageAnalysis")',
                data: {
                    damageId: damageId,
                    baseDamageId: isSetValueType ? baseDamageId : null,
                    baseDamageNomDoc: baseDamageNomDoc,
                    isSetValueType: isSetValueType
                },
                success: function (e) {
                    kendo.ui.progress($('body'), false);
                    if (e.Errors && e.Errors.length > 0) {
                        Common.ShowError(e.Errors.join('<br>'));
                    }
                    else if (currentWindow != null && $.isFunction(currentWindow.options.customClose) && window.parent) {
                        currentWindow.options.customClose({ Data: e.Data });
                    }
                    else {
                        Common.ShowMessage('Операция успешно выполнена');
                    }
                }
            });
        });

        $('.modal-dialog-footer').on('click', '.button-no', function () {
            Common.UI.CloseWindow('SetBaseDamageWindow', window.parent);
        });
    });
</script>