@using CIPJS.DAL.DamageAssessmentMethod;

@model DamageAssessmentMethodDto

<div>
    @(Html.Kendo().ToolBar().Name("ToolBar").Items(items =>
        {
            items.Add().Type(CommandType.Button).Text("Сохранить").Click("toolbarClick");
        })
    )

    @(Html.Kendo().PanelBar().Name("PanelBar")
        .ExpandAll(true)
        .Items(panelbar =>
        {
            panelbar.Add().Text("Ввод материального ущерба")
                .Content(
                    @<div class="form-horizontal col-sm-12">
                        <div class="form-group"></div>
                        <div class="form-group-border col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    @Html.CustomLabelFor(m => m.MaterialDamage)
                                </div>
                                <div class="col-sm-8">
                                    @(Html.KendoNumericTextBoxFor(m => m.MaterialDamage, precision: 2, isReadonly: false))
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    @Html.CustomLabelFor(m => m.ProportionDamagedArea)
                                </div>
                                <div class="col-sm-4">
                                    @(Html.KendoNumericTextBoxFor(m => m.ProportionDamagedArea, precision: 2, isReadonly: false))
                                </div>
                            </div>
                        </div>
                    </div>
                );
        })
    )
</div>

<script>
    function toolbarClick(e) {
        var materialDamage = $('#MaterialDamage').data('kendoNumericTextBox');
        if (materialDamage) {
            if (materialDamage.value() < @(Model.MaterialDamageMin ?? 0) || materialDamage.value() > @(Model.MaterialDamageMax ?? 0) ) {
                Common.ShowError('Материальный ущерб должен быть больше или равен @(Model.MaterialDamageMin ?? 0), но меньше или равен @(Model.MaterialDamageMax ?? 0)');
                return;
            }
        }
        var proportionDamagedArea = $('#ProportionDamagedArea').data('kendoNumericTextBox');
        if (proportionDamagedArea) {
            if (proportionDamagedArea.value() == undefined) {
                Common.ShowError('Введите "Удельный вес поврежденного участка"');
                return;
            }
        }
        Common.UI.CloseWindow('selectMaterialDamageWnd', window.parent);
    }
</script>