@model KadOzenka.Web.Models.GbuCod.CodJobViewModel

<div class="form-horizontal col-sm-12" style="margin-top: 10px">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabel($"Задание ЦОД", classCSS: "codLabel")
        </div>
        <div class="col-sm-10">
            @Html.KendoTextBoxFor(m => m.Name, isReadonly: true)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.CustomLabel("Удалить старые данные")
        </div>
        <div class="col-sm-1">
            @Html.KendoCheckBox("", "deleteOld", false, isReadonly: false)
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <input name="file" id="file" type="file" aria-label="files" />
</div>


@section styles {
    <style>
        .codLabel {
            font-weight: bold !important;
        }
    </style>
}
<script>
    $(document).ready(function () {
        $('#file').kendoUpload({
		    multiple: false,
		    localization: {
			    select: 'Загрузить файл'
		    },
		    async: {
                autoUpload: true,
                saveUrl: '@Url.Action("ImportCod", "GbuCod")'
            },
            upload: function (e) {
                var codId = $('#@Html.IdFor(m => m.Id)').val();
                var deleteOld = $('#deleteOld').prop('checked');
                e.data = { codId, deleteOld}
            },

		    success: function (e) {
			    if (e.operation === "upload") {
				    Common.ShowMessage("Файл успешно загружен");
			    }
		    },
		    validation: {
			    allowedExtensions: ['.xml']
		    },
		    error: function (e) {
			    if (e.XMLHttpRequest.responseText) {
				    Common.ShowError(e.XMLHttpRequest.responseText);
			    } else {
				    Common.ShowError("При загрузке выбранного файла возникла ошибка (подробно в журнале ошибок)");
			    }
		    }
	    }).data('kendoUpload');
    });
</script>