@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.ManagementDecisionSupport.QualityPricingFactorsEncodingResults.DataCompositionWithCrviForOksConfigurationModel
<div class="form-horizontal" style="padding: 2%">
    @using (Html.BeginForm("ProcessDataCompositionWithCrviForOksReport", "ManagementDecisionSupport", FormMethod.Post, new { id = "getReportForm" }))
    {
        if (Model.TaskIds == null || Model.TaskIds.Length == 0)
        {
            <div class="form-group">
                <span style="color: red">Не выбраны задания на оценку</span>
            </div>
        }
        else
        {
            for (var i = 0; i < Model.TaskIds?.Length; i++)
            {
                @Html.HiddenFor(m => m.TaskIds[i])
            }

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.ParentKnAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.ParentKnAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.TypeOfUsingNameAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.TypeOfUsingNameAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.TypeOfUsingCodeAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.TypeOfUsingCodeAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.TypeOfUsingCodeSourceAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.TypeOfUsingCodeSourceAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.TypeOfUsingGroupCodeAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.TypeOfUsingGroupCodeAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.FunctionalGroupNameAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.FunctionalGroupNameAttributeId, Model.GbuAttributes)
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-sm-5">
                    @Html.CustomLabelFor(m => m.SegmentAttributeId)
                </div>
                <div class="col-sm-7">
                    @Html.KendoDropDownListTreeWithButton(m => m.SegmentAttributeId, Model.GbuAttributes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-10">
                    <input type="button" id="getReportBtn" class="k-button" value="Сформировать" />
                </div>
            </div>
        }
    }
</div>



<script src="~/js/common-reports.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $("#getReportBtn").click(processReport);
    });

</script>
