@model int

<div style="padding-bottom: 20px">
    @(Html.Kendo().ToolBar().Name("toolbar").Items(toolBar =>
                {
                    toolBar.Add().Type(CommandType.Button).Text("Пересчитать признак").Id("btnRecalculateAttribute").Click("btnRecalculateAttribute_Click");
                }))
</div>
<div class="container" id="divConfirm">
    <div class="form-group">
        <div class="col-sm-1">
            @(Html.Label("lblTotalCount", $"Выбрано объектов: {Model}"))
        </div>
    </div>
    <div class="form-group" id="divConfirmMessage">
        <div class="col-sm-1">
            @(Html.Label("lblConfirmMessage", "Вы уверены, что хотите пересчитать признак для выбранных объектов?"))
        </div>
    </div>
</div>

<div class="container" id="divProgress" hidden="hidden">
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center">
            @Html.Label("lblProgress", "Обработка объектов успешно запущена. Состояние обработки будет отображено в панели Перерасчет признака Подлежит страхованию")
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="container" id="divError" hidden="hidden">
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center">
            @Html.Label("lblError", "При запуске перерасчета возникла ошибка")
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<script>
    function btnRecalculateAttribute_Click() {
        $.get("/FlagInsur/DoFlagInsurFillSelected?UniqueSessionKey=" + '@ViewBag.UniqueSessionKey')
            .success(function () {
                $("#divConfirm").hide();
                $("#toolbar").hide();
                $("#divError").hide();

                $("#divProgress").show();
            })
            .error(function () {
                $("#divError").show();
            });
    }
</script>
