<div id="toolbar"></div>
<div class="form-horizontal col-sm-12" style="margin-top:5px;">
    <div class="form-group">
        <div class="col-sm-1">
            @Html.Label("C")
        </div>
        <div class="col-sm-5">
            @(Html.Kendo().DatePicker().Name("dateS").Format("MMMM yyyy").Start(CalendarView.Year).Depth(CalendarView.Year).HtmlAttributes(new { @style = "width: 100%" }))
        </div>
        <div class="col-sm-1">
            @Html.Label("По")
        </div>
        <div class="col-sm-5">
            @(Html.Kendo().DatePicker().Name("datePo").Format("MMMM yyyy").Start(CalendarView.Year).Depth(CalendarView.Year).HtmlAttributes(new { @style = "width: 100%" }))
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1">
            @Html.Label("ФСП")
        </div>
        <div class="col-sm-7">
            @Html.Hidden("FspId")
            @Html.TextBox("FspNumber", null, null, new { @class="k-textbox",  @style = "width: 100%" })
        </div>
        <div class="col-sm-4">
            @(Html.Kendo().Button()
                .Name("selectFspButton")
                .HtmlAttributes(new { type = "button", style = "width: 100%" })
                .Tag("span")
                .Content("Выбрать"))
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selectFspButton').on('click', function (e) {
            e.preventDefault();
            var contentUrl = '@Url.Action("Index", "RegistersView")' + '?registerId=FspSelect',
                title = 'Выбор ФСП',
                callbackFn = function (item) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetById", "Fsp")',
                        data: { 'id': item.id },
                        success: function (data) {
                            if (data) {
                                $('[name="FspId"]').val(data.EmpId);
                                $('[name="FspNumber"]').val(data.FspNumber);
                            }
                        }
                    });
                };

            Common.UI.ChooseWindow(title, contentUrl, callbackFn, 'Grid-@ObjectModel.Insur.OMFsp.GetRegisterId()');
        });

        
        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Сформировать',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();

                        var fspId = parseInt($('[name="FspId"]').val());
                        if (isNaN(fspId)) {
                            Common.ShowError('ФСП обязательно для заполения');
                            return;
                        }
                        var dateS = $('[name="dateS"]').data('kendoDatePicker').value();
                        if (!dateS) {
                            Common.ShowError('Дата С обязательно для заполнения');
                            return;
                        }
                        var datePo = $('[name="datePo"]').data('kendoDatePicker').value();
                        if (!datePo) {
                            Common.ShowError('Дата ПО обязательно для заполнения');
                            return;
                        }
                        if (dateS > datePo) {
                            Common.ShowError('Дата ПО не может быть меньше даты С');
                            return;
                        }
                        
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            url: '@Url.Action("CreateStrahNach", "Fsp")',
                            type: 'POST',
                            data: { fspId: fspId, dateS: kendo.toString(dateS, 'dd.MM.yyyy'), datePo: kendo.toString(datePo, 'dd.MM.yyyy') },
                            dataType: 'json',
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.ShowMessage('Контрольные начисления успешно сформированы');
                                }
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                }
            ]
        });
    });
</script>
