@using CIPJS.Models.ExpressScore
@using KadOzenka.Dal.Enum
@using ObjectModel.Directory
@using ObjectModel.Directory.ES
@using System.Configuration;
@using System.Linq.Expressions


<link rel="stylesheet" href="~/css/jquery.fias.min.css" />
<style>
	.wrap-map {
		display: flex;
		justify-content: center;
		background-color: white;
		height: calc(95vh + 20px);
		border-radius: 10px;
		flex-direction: column;
	}

	#map {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		overflow: hidden;
	}

	.wrap-form {
		padding-top: 20px;
		background-color: white;
		height: 95vh;
		border-radius: 10px;
		padding-left: 10px;
		padding-right: 10px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.separator {
		height: 3px;
		background-color: bisque;
	}

	label {
		font-weight: normal !important;
	}

	.btn-count {
		width: 100%;
	}

	#select-count {
		width: 100%;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.wrapper-scenario {
		margin: 10px
	}

	.wrapper-success-dialog {
		margin: 10px
	}

		.wrapper-success-dialog label {
			font-weight: bold !important;
			display: block;
			padding: 2px;
		}

	div#slider {
		width: 100%;
	}

	.form-group.no-margin {
		margin-left: 0px;
		margin-right: 0px;
	}

	.no-padding {
		padding: 0px;
	}

	.no-padding-left {
		padding-left: 0px;
	}

	.k-dropdown-wrap.k-state-default {
		margin-right: 0px;
	}

	.k-button.calculate.float-right {
		float: right;
	}

	.flex-row {
		display: flex;
		align-items: baseline;
	}
</style>

<div class="form-horizontal col-sm-12">
	<div class="form-group">
		<input type="hidden" id="targetMarketObjectId" value="">
		<div class="col-sm-4 no-padding-left">
			<div class="wrap-form">
				<div>
					<h3 style="margin-top: 0">Параметры объекта</h3>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-5 no-padding ">
						@Html.CustomLabelFor("Адрес")
					</div>
					<div class="col-sm-12 no-padding">
						@Html.Kendo().TextBox().Name("address").HtmlAttributes(new { style = "width: 100%", spellcheck = false })
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-10 no-padding">
						@Html.CustomLabelFor("Кадастровый № объекта", htmlAttributes: new { style = "padding-top: 0" })
					</div>
					<div class="col-sm-12 no-padding">
						@Html.Kendo().MaskedTextBox().Name("Kn").HtmlAttributes(new { style = "width: 100%" }).Mask("00:00:0000000:000##")
					</div>
				</div>
				<div class="form-group no-margin no-padding">
					<div class="separator col-sm-12 no-padding"></div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-12 col-md-3 no-padding">
						@Html.CustomLabelFor("Сегмент", true)
					</div>
					<div class="col-sm-12 col-md-9 no-padding">
						@(Html.Kendo().DropDownList().Name("segment")
							.BindTo(ComboBoxHelper.GetSelectList(typeof(MarketSegment), new long[] {744, 745, 750, 746, 747, 748, 749, 751, 752, 753, 754, 795})).NoDataTemplate("Ничего не найдено!")
							.Events(e => e.Cascade("handlerChangeSegment")).Enable(false))
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-12 col-md-3 no-padding">
						@Html.CustomLabelFor("Площадь", true)
					</div>
					<div class="col-sm-12 col-md-4 no-padding">
						@Html.Kendo().TextBox().Name("square").HtmlAttributes(new { style = "width: 100%", type = "number" })
					</div>
					<div class="col-sm-3 col-md-2 no-padding">
						@Html.CustomLabelFor("Этаж", true, htmlAttributes: new { style = "float: right; margin-right: 5px" })
					</div>
					<div class="col-sm-12 col-md-3 no-padding">
						@Html.Kendo().TextBox().Name("floor").HtmlAttributes(new { style = "width: 100%" })
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-6 no-padding">
						<div>
							@Html.CustomLabelFor("Учитывать год постройки")
						</div>
						@Html.Kendo().RadioButton().Name("UseYearBuild").Label("Да").Value(true).Checked(true)
						@Html.Kendo().RadioButton().Name("UseYearBuild").Label("Нет").Value(false)
					</div>
					<div class="col-sm-6 no-padding">
						<div>
							@Html.CustomLabelFor("Учитывать площадь")
						</div>
						@Html.Kendo().RadioButton().Name("UseSquare").Label("Да").Value(true).Checked(true)
						@Html.Kendo().RadioButton().Name("UseSquare").Label("Нет").Value(false)
					</div>
				</div>
				<!--Вставляем оценочные факторы-->
				<div id="costFactors"></div>
				<div class="form-group no-margin">
					<div class="col-sm-12 no-padding">
						@Html.CustomLabelFor("Тип сделки")
					</div>
					<div class="col-sm-9 no-padding">
						@Html.Kendo().RadioButton().Name("DealTypeShort").Label(DealTypeShort.Rent.GetEnumDescription()).Value(DealTypeShort.Rent).Checked(true)
						@Html.Kendo().RadioButton().Name("DealTypeShort").Label(DealTypeShort.Sale.GetEnumDescription()).Value(DealTypeShort.Sale)
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-10 no-padding">
						@Html.CustomLabelFor("Дата актуальности", true)
					</div>
					<div class="col-sm-12 no-padding">
						@Html.Kendo().DatePicker().Name("ActualDate").Max(DateTime.Now).Value(DateTime.Now.Date).Format("dd.MM.yyyy")
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-10 no-padding">
						@Html.CustomLabelFor("Количество аналогов", htmlAttributes: new { style = "padding-top: 0" })
					</div>
					<div class="col-sm-12 no-padding">
						<input id="slider" value="0" title="slider" />
					</div>
				</div>
				<div class="form-group no-margin">
					<div class="col-sm-12 col-md-5 no-padding">
						<button class="k-button analogs" type="button">Поиск</button>
					</div>
					<div class="col-sm-12 col-md-7 no-padding">
						<button id="" disabled="disabled" class="k-button calculate float-right" type="button">Рассчитать стоимость</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8" style="padding-left: 0px">
			<div class="wrap-map">
				<div id="map"></div>
			</div>
		</div>
	</div>
</div>
<div id="dialog">
</div>
<div id="successDialog">
</div>
<div id="updateTargetObject">
</div>


<script src="~/MapScripts/config.js" charset="utf-8"></script>
<script src="~/js/jquery.fias.min.js"></script>
<script src="~/js/custom-validation.js"></script>
<script src="~/js/common-modals.js"></script>
<script src="~/js/unauthorized-ajax-error-handler.js"></script>
<script src="~/EsScripts/EsScript.js"></script>

<script>
	var srciptSrc = `@ConfigurationManager.AppSettings["YandexLink"]`.replace(/&amp;/g, '&');
	if (initMap) {
		initMap(srciptSrc);
	}
</script>
