@using ObjectModel.Sud
@model KadOzenka.Web.Models.Sud.ConclusionLinkModel

@using (Html.BeginForm("EditConclusionLink", "Sud", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.IdConclusion)
	@Html.HiddenFor(m => m.SudObjectId)
	<div class="form-horizontal col-sm-12">
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor("Экспертное заключение", true)
			</div>
			<div class="col-sm-10">
				@Html.PlatformAutoCompleteWithEditButtonFor(m => m.ConclusionNumber, "Value", "Sud", "GetAutoCompleteConclusion", "clearEvent", "searchConclusion", "selectEvent", "editConclusion", "addConclusion", isAdditionalButton: true, isReadonly: false)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor("Рыночная стоимость", true)
			</div>
			<div class="col-sm-4">
				@Html.KendoNumericTextBoxFor(m => m.Rs, 2, false)
			</div>
			<div class="col-sm-2">
				@Html.CustomLabelFor("Удельная стоимость", true)
			</div>
			<div class="col-sm-4">
				@Html.KendoNumericTextBoxFor(m => m.Uprs, 2)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor("Текущее использование")
			</div>
			<div class="col-sm-10">
				@Html.TextAreaFor(m => m.Use, 5, 0, new { @class = "k-textbox", @style = "width: 100%; resize: none; padding: 10px;" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor("Примечание")
			</div>
			<div class="col-sm-10">
				@Html.TextAreaFor(m => m.Descr, 5, 0, new { @class = "k-textbox", @style = "width: 100%; resize: none; padding: 10px;" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button disabled="@(!Model.IsEditConclusionLink)" style="float: right" id="save" class="k-button" type="button">Сохранить</button>
			</div>
		</div>
	</div>
}
<script type="text/javascript">

	function selectEvent() {
		$('#@Html.IdFor(m => m.IdConclusion)').val(this.e.dataItem.Id);
	}

	function clearEvent() {
		$('#@Html.IdFor(m => m.IdConclusion)').val(-1);
	}

	function distinctErrors(errors) {
		var result = [];
		$.each(errors, function(index, event) {
			var events = $.grep(result, function (e) {
				return event.Message === e.Message;
			});
			if (events.length === 0) {
				result.push(event);
			}
		});

		return result;
	}

	$('#save').on('click',
		function() {
			var form = $('form');
			var formObject = Common.Functions.FormToObject(form);
			kendo.ui.progress($('body'), true);

			$.post(form.attr('action'), formObject).done(function(response) {
				kendo.ui.progress($('body'), false);
				if (response.Errors) {
					var errors = $.map(distinctErrors(response.Errors),
						function(el) {
							return el.Message;
						});
					Common.ShowError(errors);
					return;
				}
				if (response.Success && response.data) {
					$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
					Common.ShowMessage(response.Success);
				}
			});
		});


	function updateConclusionNumber(idConclusion) {
			kendo.ui.progress($('body'), true);
		$('[name="IdConclusion"]').val(idConclusion);
		$.ajax({
			type: 'GET',
			url: '@Url.Action("GetConclusionData", "Sud")',
			data: { 'сonclusionId': idConclusion },
			dataType: 'json',
			success: function (response) {
				if (response && !$.isEmptyObject(response) && !$.isEmptyObject(response.data)) {
					$('#@Html.IdFor(m => m.ConclusionNumber)').val(response.data.Value);
				}
				kendo.ui.progress($('body'), false);
			}
		});
	}

	function editConclusion() {
		if ($('#@Html.IdFor(m => m.IdConclusion)').val() === '-1') {
			Common.ShowError("Не выбрано заключение");
			return;
		}

		var url = '@Url.Action("EditConclusion", "Sud")' + `?conclusionId=${$('#@Html.IdFor(m => m.IdConclusion)').val()}`;
		var container = $('<div></div>').appendTo(document.body);
		kendo.ui.progress(container, true);
		var window = container.kendoWindow({
			title: "Редактирование заключения",
			modal: true,
			content: url,
			iframe: true,
			close: function (e) {
				var windowElement = $(this.element);
				var iframeDomElement = windowElement.children("iframe")[0];
				var iframeWindowObject = iframeDomElement.contentWindow;
				var iframejQuery = iframeWindowObject.$;

				var idConclusion = iframejQuery('#Id').val();
				if (idConclusion === '-1') {
					Common.ShowError("Не выбрано заключение");
					this.destroy();
					return;
				}
				updateConclusionNumber(idConclusion);
				this.destroy();
			}
		}).data('kendoWindow');

		window.center();
		window.open().maximize();
		kendo.ui.progress(container, false);
	}

	function addConclusion() {
		var url = '@Url.Action("EditConclusion", "Sud")';
		var container = $('<div></div>').appendTo(document.body);
		kendo.ui.progress(container, true);
		var window = container.kendoWindow({
			title: "Создание заключения",
			modal: true,
			content: url,
			iframe: true,
			close: function (e) {
				var windowElement = $(this.element);
				var iframeDomElement = windowElement.children("iframe")[0];
				var iframeWindowObject = iframeDomElement.contentWindow;
				var iframejQuery = iframeWindowObject.$;

				var idConclusion = iframejQuery('#Id').val();
				if (idConclusion === '-1') {
					Common.ShowError("Не выбрано заключение");
					this.destroy();
					return;
				}
				updateConclusionNumber(idConclusion);
				this.destroy();
			}
		}).data('kendoWindow');

		window.center();
		window.open().maximize();
		kendo.ui.progress(container, false);
	}

	 function searchConclusion () {
		var contentUrl = '@Url.Action("SudZakSelect", "RegistersView")';
		var title = 'Выбор Заключения';

		var callbackFn = function (item) {
			kendo.ui.progress($('body'), true);
			$('[name="IdConclusion"]').val(item.ID);
			$.ajax({
				type: 'GET',
				url: '@Url.Action("GetConclusionData", "Sud")',
				data: { 'сonclusionId': item.ID },
				dataType: 'json',
				success: function (response) {
					if (response && !$.isEmptyObject(response)) {
						$('#@Html.IdFor(m => m.ConclusionNumber)').val(response.data.Value);
					}
					kendo.ui.progress($('body'), false);
				}
			});
		}
		Common.UI.ChooseWindow(title, contentUrl, callbackFn, 'Grid-@OMZak.GetRegisterId()');
	}

	$('#@Html.IdFor(m => m.ConclusionNumber)').on('blur', function () {
		if ($('#@Html.IdFor(m => m.ConclusionNumber)').val() === "") {
			$('#@Html.IdFor(m => m.IdConclusion)').val(-1);
			return;
		}

		if ($('#@Html.IdFor(m => m.IdConclusion)').val() === "-1" || $('#@Html.IdFor(m => m.IdConclusion)').val() === "") {
			$('#@Html.IdFor(m => m.ConclusionNumber)').val("");
		}
	});

	$(document).ready(function () {
		if ("@Model.IsEditConclusion" === "False") {
			$(`.edit-button-${"@Html.IdFor(m => m.ConclusionNumber)"}`).off('click').attr('disabled', true);
			$(`.add-button-${"@Html.IdFor(m => m.ConclusionNumber)"}`).off('click').attr('disabled', true);
		}

		var numerictextbox = $("#@Html.IdFor(m => m.Rs)").data("kendoNumericTextBox");
		var squareObject = parseFloat("@Model.SquareObject");
		numerictextbox.bind("change", function() {
			var value = this.value();
			if (squareObject && squareObject !== 0) {
				$("#@Html.IdFor(m => m.Uprs)").data("kendoNumericTextBox").value(value / squareObject);
			} else {
				Common.ShowError(`Удельная стоимость не будет расчитана, т.к не корректная площадь объекта: ${squareObject}`);
			}
		});
	});

</script>
