@using KadOzenka.Dal.Enum
@using KadOzenka.Dal.ExpressScore.Dto
@model ResultCalculateDto

<style type="text/css">
    #gearButton-100_wrapper {
		display: none;
    }

    #showRefreshButton-100 {
		display: none;
    }
</style>

<div class="form-horizontal col-sm-12">
	<div class="form-group"></div>
	@if (Model.DealType == DealTypeShort.Sale)
	{
		<div class="form-group">
			<div class="col-sm-12">
				<text>Рыночная стоимость объекта оценки, руб: </text><text id="cost">@(Model.SummaryCost.ToString("N"))</text>
			</div>
			<div class="col-sm-12">
				<text>Удельный показатель рыночной стоимости объекта оценки, руб/кв.м: </text><text id="squareCost">@(Model.SquareCost.ToString("N"))</text>
			</div>
			<div class="col-sm-12">
                <text>Адрес объекта оценки: </text><text id="address">@(Model.Address)</text>
			</div>
			<div class="col-sm-12">
                <text>Площадь объекта оценки: </text><text id="area">@(Model.Area)</text>
			</div>
			<div class="col-sm-12">
                <text>Сегмент рынка объекта оценки: </text><text id="marketSegment">@(Model.MarketSegment.GetEnumDescription())</text>
			</div>
			<div class="col-sm-12">
                <text>Тип объекта оценки: </text><text id="marketSegment">@(Model.DealType.GetEnumDescription())</text>
			</div>
		</div>
	}
	
	@if (Model.DealType == DealTypeShort.Rent)
	{
		<div class="form-group">
			<div class="col-sm-12">
				<text>Арендная ставка объекта оценки, руб/год : </text><text id="cost">@((Model.SummaryCost * 12).ToString("N")) </text>
			</div>
			<div class="col-sm-12">
				<text>Арендная ставка объекта оценки, руб/кв. м/год: </text><text id="squareCost">@((Model.SquareCost * 12).ToString("N"))</text>
			</div>
		</div>
	}
	
	<div class="form-group">
		<div class="col-sm-12">
			@if (Model.ReportId != -1)
			{
				<button id="report" data-report-id="@Model.ReportId" class="k-button">Сгенерировать отчет</button>
			}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<p>Аналоги (@Model.Analogs.Count)</p>
		</div>
		@*<div class="col-sm-12" style="padding: 0">
			<div style="height: auto">
				<div class="ajax-data-loading" data-request-type="GET" data-url="@Url.Content($"~/RegistersView/MarketObjectCard?Transition=1&{ViewBag.Filter}")"
				     data-param-Pageable="true" data-param-Scrollable="true" data-param-EsId="@ViewBag.EsId"
				     data-param-partialview="true" data-loader="true" data-onsuccess="resizeGrid100"></div>
			</div>
		</div>*@
	<table id="resultGrid">
		<thead>
			<tr>
				<th data-field="make"><input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label></th>
				<th data-field="make">Car Make</th>
				<th data-field="model">Car Model</th>
				<th data-field="year">Year</th>
				<th data-field="category">Category</th>
				<th data-field="airconditioner">Air Conditioner</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type='checkbox' class='k-checkbox row-checkbox'><label class='k-checkbox-label'></label></td>
				<td>Volvo</td>
				<td>S60</td>
				<td>2010</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Audi</td>
				<td>A4</td>
				<td>2002</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>BMW</td>
				<td>535d</td>
				<td>2006</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>BMW</td>
				<td>320d</td>
				<td>2006</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>VW</td>
				<td>Passat</td>
				<td>2007</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>VW</td>
				<td>Passat</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Peugeot</td>
				<td>407</td>
				<td>2006</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Honda</td>
				<td>Accord</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Alfa Romeo</td>
				<td>159</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Nissan</td>
				<td>Almera</td>
				<td>2001</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Mitsubishi</td>
				<td>Lancer</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Opel</td>
				<td>Vectra</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2006</td>
				<td>Saloon</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Toyota</td>
				<td>Avensis</td>
				<td>2008</td>
				<td>Saloon</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Audi</td>
				<td>Q7</td>
				<td>2007</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Hyundai</td>
				<td>Santa Fe</td>
				<td>2012</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Hyundai</td>
				<td>Santa Fe</td>
				<td>2013</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Nissan</td>
				<td>Qashqai</td>
				<td>2007</td>
				<td>SUV</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Mercedez</td>
				<td>B Class</td>
				<td>2007</td>
				<td>Hatchback</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Lancia</td>
				<td>Ypsilon</td>
				<td>2006</td>
				<td>Hatchback</td>
				<td>Yes</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<script type="text/javascript">
	var reportId = "@Model.ReportId";
	$(document).ready(function () {
		$("#resultGrid").kendoGrid({
			height: 400,
			sortable: true,
			pageable: {
				pageSize: 5
			},
			selectable: "multiple, row"
		});
		if (reportId === "-1") {
			Common.ShowError("При генерации отчета возникли ошибки. Подробности в журнале ошибок.");
		}
		$('#report').on('click',
			function() {
				var url = "@Url.Action("DownloadExportResult", "DataExport")" + `?exportId=${$(this).data('report-id')}`;
				var a = document.createElement('a');
				a.setAttribute('href', url);
				a.click();
				console.log('report id', $(this).data('report-id'));
			});
	});
</script>


