@*@using Core.Register
@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.ExpressScore.TargetObjectModel

@using (Html.BeginForm("TargetObjectSubCard", "ExpressScore", FormMethod.Post, new { id = "updateTargetObjectForm" }))
{
    <div class="form-horizontal col-sm-12" style="padding: 2% 2% 0 2%">
        @Html.HiddenFor(x => x.UnitId)

        @for (var i = 0; i < Model.Attributes.Count; i++)
        {
            @Html.HiddenFor(x => x.Attributes[i].Id)
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.CustomLabel(Model.Attributes[i].Name, false)
                </div>
                <div class="col-sm-5">
                    @Html.HiddenFor(x => x.Attributes[i].Name)
                    @if (Model.Attributes[i].Type == RegisterAttributeType.INTEGER)
                    {
                        @Html.Kendo().NumericTextBoxFor(x => x.Attributes[i].LongValue).Spinners(false).Format("N0")
                    }
                    @if (Model.Attributes[i].Type == RegisterAttributeType.DECIMAL)
                    {
                        @Html.Kendo().NumericTextBoxFor(x => x.Attributes[i].DecimalValue).Spinners(false).Format("N4")
                    }
                    @if (Model.Attributes[i].Type == RegisterAttributeType.BOOLEAN)
                    {
                        @(Html.Kendo().RadioButtonFor(m => m.Attributes[i].BoolValue)
                            .Label("Да")
                            .Value(true)
                            .Checked(Model.Attributes[i].BoolValue == true))
                        @(Html.Kendo().RadioButtonFor(m => m.Attributes[i].BoolValue)
                            .Label("Нет")
                            .Value(false)
                            .Checked(Model.Attributes[i].BoolValue.HasValue && Model.Attributes[i].BoolValue == false)
                            .HtmlAttributes(new { style = "margin-left: 15px;" }))
                    }
                    @if (Model.Attributes[i].Type == RegisterAttributeType.STRING)
                    {
                        if (Model.Attributes[i].ReferenceId.HasValue)
                        {
                            @Html.HiddenFor(x => x.Attributes[i].ReferenceId)
                            @Html.KendoKoReferenceDropDownListFor(x => x.Attributes[i].ReferenceItemId, Model.Attributes[i].ReferenceId, false)
                        }
                        else
                        {
                            @Html.Kendo().TextBoxFor(x => x.Attributes[i].StringValue)
                        }
                    }
                    @if (Model.Attributes[i].Type == RegisterAttributeType.DATE)
                    {
                        @Html.KendoDatePickerFor(m => m.Attributes[i].DateTimeValue, false)
                    }
                </div>
            </div>
        }
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <button id="save" type="button" style="float: right;" class="k-button">Сохранить</button>
            </div>
        </div>
    </div>
}

<script src="~/js/custom-validation.js"></script>
<script src="~/js/common-modals.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#save').on('click',
            function () {
                kendo.ui.progress($('#updateTargetObjectForm'), true);
                var form = $('#updateTargetObjectForm');
                var formObject = Common.Functions.FormToObject(form);
                debugger;
                $.post(form.attr('action'), formObject)
                    .done(function (response) {
                        if (response.Errors) {
                            var errors = getErrors(response.Errors);
                            Common.ShowError(errors);
                            return;
                        }

                        if (response.success) {
                            Common.ShowMessage(response.message);
                        }
                    })
                    .fail(function (response) {
                        Common.ShowError(response.responseText);
                    })
                    .always(function () {
                        kendo.ui.progress($('#updateTargetObjectForm'), false);
                    });
            });
    });
</script>
*@