@using Core.Shared.Extensions;
@using KadOzenka.Dal.GbuObject;
@using Core.Shared.Extensions;
@using System.Data;

@model List<GbuObjectAttribute>


<div style="margin-bottom: 5px;">
</div>

<div>
    <table id="Grid">
        <colgroup>
            <col style="width:300px" />
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th data-field="NAME">Наименование показателя</th>
                <th data-field="TEXT_VALUE">Значение</th>
                <th data-field="S">Дата С</th>
                <th data-field="OT">Дата От</th>
                <th data-field="PO">Дата создания</th>
                <th data-field="USER">Пользователь</th>
                <th data-field="DOCUMENT">Документ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attributeValue in Model)
            {
                <tr data-attributeId="@attributeValue.AttributeId">
                    <td>@attributeValue.GetAttributeName()<span style="display: none;">@attributeValue.AttributeId</span></td>
                    <td>@attributeValue.GetValueInString()</td>
                    <td>@attributeValue.S.GetString()</td>
                    <td>@attributeValue.Ot.GetString()</td>
                    <td>@attributeValue.ChangeDate.GetString()</td>
                    <td>@attributeValue.UserFullname</td>
                    <td>@attributeValue.GetDocument()</td>

                </tr>
            }
        </tbody>
    </table>
    <script>
        $(function () {
            $('#Grid').kendoGrid({
                sortable: true,
                selectable: true,
                resizable: true,
                scrollable: true
            });
        });
    </script>
</div>