@model KadOzenka.Web.Models.GbuObject.GbuObjectViewModel
<div id="splitter">
    <div id="gbuMainObjData" class="container-fluid">
        <div class="form-horizontal col-sm-12">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group"></div>
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.CustomLabelFor(m => m.CadastralNumber)
                </div>
                <div class="col-sm-3">
                    @Html.KendoTextBoxFor(m => m.CadastralNumber, isReadonly: true)
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    @Html.CustomLabelFor(m => m.ObjectType)
                </div>
                <div class="col-sm-3">
                    @Html.KendoEnumDropDownListFor(m => m.ObjectType, isReadonly: true)
                </div>
            </div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group"></div>
            <div class="form-group">
                <div class="col-sm-1">
                    @Html.CustomLabelFor(m => m.DateActual, htmlAttributes: new {style = "font-weight: bold;"})
                </div>
                <div class="col-sm-2">
                    @Html.Kendo().DatePickerFor(m => m.DateActual).Events(x => x.Change("onDateActualChange")).Format("dd/MM/yyyy")
                </div>
                <div class="col-sm-3">
                    <button style="float: left" id="searchAttributes" class="k-button" type="button">Найти атрибуты</button>
                </div>
            </div>
        </div>
    </div>
    <div id="partialArea">
        <div class="container-fluid">
            <div id="partialAttrView">
            </div>
            </div>
        </div>
    </div>

<style>
    #gbuMainObjData {
        background-color: #f8f9fc;
        height: 100%;
        flex: 1 1 auto;
    }

    #splitter {
        height: calc(100% - 5px);
    }

    .k-tabstrip .k-content.k-state-active {
        background-color: #f8f9fc;
    }
</style>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#splitter").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: false, size: "20%" },
                    { collapsible: false }
                ]
            });

            updatePartialArea(@(Model.Id.ToString()),
                '@(Model.DateActual.HasValue ? Model.DateActual?.ToString("dd.MM.yyyy") : string.Empty)');
            $('#searchAttributes').on('click',
                () => { updatePartialArea($('#@Html.IdFor(m => m.Id)').val(), $('#DateActual').val()); }
            );
        });

        function updatePartialArea(objId, dateActual) {
            kendo.ui.progress($('#partialArea'), true);
			if (dateActual) {
				debugger;
				dateActual = encodeURIComponent((kendo.parseDate(dateActual)) && (kendo.parseDate(dateActual)).toUTCString() || (kendo.parseDate(dateActual.replace(/\//ig, '.'))).toUTCString()|| null);
            }
            $("#partialAttrView").load(
                `/GbuObject/GetGbuObjectAttributes?objectId=${objId}&actualDate=${dateActual}`,
                function(responseTxt, statusTxt, xhr) {
                    kendo.ui.progress($('#partialArea'), false);
                    if (statusTxt == "error")
                        Common.ShowError(xhr.responseTxt);
                });
        }

        function onDateActualChange() {
            if (this.value()) {
                $("#searchAttributes").attr("disabled", false);
            } else {
                $("#searchAttributes").attr("disabled", true);
            }
        }
    </script>
}
