@using System.Collections
@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.GbuObject.GroupingObject;

<style>
	fieldset {
		border: 1px solid #c8c6cc;
		border-radius: 6px;
		margin-bottom: 10px;
	}

	#valuesFilter-list {
		display: none !important;
	}
	.wrap-level {
		padding-top: 5px;
	}
	.row {
		padding: inherit;
	}
</style>

@using (Html.BeginForm("GroupingObject", "GbuObject", FormMethod.Post))
{
<div class="form-horizontal col-sm-12">
	<div class="form-group">
		<div class="col-sm-2">
			@Html.CustomLabelFor(m => m.IdCodJob)
		</div>
		<div class="col-sm-10">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.IdCodJob, (IEnumerable) ViewData["CodJob"], dataValueField: "Id")
		</div>
	</div>
<fieldset class="wrap-level">
	<div class="form-group">
		<div class="col-sm-12">
			@Html.Kendo().RadioButtonFor(m => m.SelectAllObject).Label("Все объекты").Value(true).Checked(true)

		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
			@Html.Kendo().RadioButtonFor(m => m.SelectAllObject).Label("По значению").Value(false)
		</div>
		<div class="col-sm-2">
			@Html.CustomLabelFor(m => m.IdAttributeFilter)
		</div>
		<div class="col-sm-4">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeFilter, (IEnumerable) ViewData["Attribute"], dataValueField: "Id")
		</div>
		<div class="col-sm-1">
			@Html.CustomLabelFor(m => m.ValuesFilter)
		</div>
		<div class="col-sm-3">
			<select id="valuesFilter" style="width: 100%;"></select>
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>1 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level1.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level1.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level1.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>2 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level2.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level2.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level2.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>3 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level3.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level3.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level3.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>4 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level4.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level4.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level4.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>5 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level5.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level5.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level5.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>6 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level6.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level6.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level6.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>7 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level7.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level7.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level7.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>8 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level8.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level8.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level8.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>9 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level9.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level9.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level9.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>10 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level10.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level10.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level10.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
<fieldset class="wrap-level">
	<legend>11 Уровень</legend>
	<div class="form-group">
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level11.UseDictionary))
				Справочник
			</label>
		</div>
		<div class="col-sm-2">
			<label>
				@(Html.Kendo().CheckBoxFor(m => m.Level11.SkipDefis))
				Игнорировать "-"
			</label>
		</div>
		<div class="col-sm-2">
			@Html.CustomLabel("Характеристика")
		</div>
		<div class="col-sm-6">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.Level11.IdFactor, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
</fieldset>
	<div class="form-group" style="margin-top: 5px">
		<div class="col-sm-2">
			@Html.CustomLabelFor(m => m.IdAttributeResult)
		</div>
		<div class="col-sm-10">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeResult, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
			@Html.CustomLabelFor(m => m.IdAttributeSource)
		</div>
		<div class="col-sm-10">
			@Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeSource, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
		</div>
	</div>
<div class="form-group">
	<div class="col-sm-2">
		@Html.CustomLabelFor(m => m.IdAttributeDocument)
	</div>
	<div class="col-sm-10">
		@Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeDocument, (IEnumerable)ViewData["Attribute"], dataValueField: "Id")
	</div>
</div>
<div class="form-group">
	<div class="col-sm-4">
		<button style="float: left" id="load" class="k-button" type="button">Загрузить</button>
		<button style="float: left; margin-left: 4px;" id="save" class="k-button" type="button">Сохранить</button>
	</div>

	<div class="col-sm-2 col-sm-offset-6">
		<button style="float: right" id="execute" class="k-button" type="button">Выполнить</button>
	</div>
</div>
</div>
}

<script type="text/javascript">
	$(document).ready(function () {

		$("#IdAttributeFilter").kendoTooltip({
			filter: "input",
			width: 120,
			show: function(e) {
				if (this.content.text() !== this.target().data("title")) {
					this.refresh();
				}
			},
			position: "top"
		});

		function onDataBound(e) {
			$('.k-multiselect .k-input').unbind('keyup');
			$('.k-multiselect .k-input').on('keyup', onClickEnter);
		}
		function onClickEnter(e) {
			if (e.keyCode === 13) {
				var widget = $('#valuesFilter').getKendoMultiSelect();
				var dataSource = widget.dataSource;
				var input = $('.k-multiselect .k-input');
				var value = input.val().trim();
				if (!value || value.length === 0) {
					return;
				}
				var newItem = {
					valuesFilter: value,
					valuesFilterName: value
				};

				dataSource.add(newItem);
				var newValue = newItem.valuesFilter;
				widget.value(widget.value().concat([newValue]));
			}
		}
		$("#valuesFilter").kendoMultiSelect({
			dataTextField: "valuesFilterName",
			dataValueField: "valuesFilter",
			dataSource: {
				data: []
			},
			dataBound: onDataBound
		});

		$('#execute').on('click',
			function() {
				var form = $('form');
				var formObject = Common.Functions.FormToObject(form);
				console.log('formObject', formObject);
				//kendo.ui.progress($('body'), true);

				@*$.post(form.attr('action'), formObject).done(function(response) {
					kendo.ui.progress($('body'), false);
					if (response.Errors) {
						var errors = $.map(distinctErrors(response.Errors),
							function(el) {
								return el.Message;
							});
						Common.ShowError(errors);
						return;
					}
					if (response.Success && response.data) {
						$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
						Common.ShowMessage(response.Success);
					}
				});*@
			});

		//$('#execute').on('click',
		//	function () {
		//		console.log($("#valuesFilter").data("kendoMultiSelect").value());
		//	});
	});
</script>