@using System.Collections
@using Core.Register
@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.GbuObject.PartialCharacteristicViewModel

@Html.HiddenFor(m => m.IsNewAttribute)
<div class="form-group existing-attribute-result" style="@(!Model.IsNewAttribute ? "" : "display: none")">
	<div class="col-sm-2">
		@Html.CustomLabelFor(m => m.IdAttributeResult, true)
	</div>
	<div class="col-sm-10">
		@Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeResult, (IEnumerable)ViewData["Attributes"], useAddTag: true, addFunction: "addButton")
	</div>
</div>
<div class="form-group new-attribute-result" style="@(Model.IsNewAttribute ? "" : "display: none")">
	<div class="col-sm-2">
		@Html.CustomLabelFor(m => m.NameNewAttribute, true)
	</div>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-3">
				@Html.Kendo().TextBox().Name(nameof(Model.NameNewAttribute))
			</div>
			<div class="col-sm-1">
				@Html.CustomLabelFor(m => m.RegistryId, htmlAttributes: new { @style = "float: right" }, NotSetRequired: true)
			</div>
			<div class="col-sm-3">
				@(Html.Kendo().DropDownListFor(m => m.RegistryId)
					.DataTextField("Text")
					.DataValueField("Value")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("GetAllGbuRegisters", "GbuObject");
						});
					})
					.OptionLabel(null))
			</div>
			<div class="col-sm-1">
				@Html.CustomLabelFor(m => m.TypeNewAttribute, htmlAttributes: new { @style = "float: right"}, NotSetRequired: true)
			</div>
			<div class="col-sm-3" style="padding-right: 0">
				@(Html.Kendo()
					.DropDownListFor(m => m.TypeNewAttribute)
					.DataTextField("Text")
					.DataValueField("Value")
					.BindTo(ComboBoxHelper.GetSelectList(typeof(RegisterAttributeType)))
					.HtmlAttributes(new { @style = "width: 100%" })
					)
			</div>
			<div class="col-sm-1">
				<a id="exist-attr" class="k-button k-button-icon" style="float: right"><span class='fas fa-history'></span></a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	function updateResultControl(id) {
		$('#exist-attr').click();
		$('#@nameof(Model.IdAttributeResult)').data('kendoDropDownList').dataSource.add({ Text: $('#@nameof(Model.NameNewAttribute)').val(), Value: id });
		$('#@nameof(Model.IdAttributeResult)').data('kendoDropDownList').refresh();
		$('#@nameof(Model.IdAttributeResult)').data('kendoDropDownList').value(id);
		$('#@nameof(Model.NameNewAttribute)').val("");
	}

	function addButton() {
		$('.existing-attribute-result').hide(500);
		$('.new-attribute-result').show(500);
		$('#@(nameof(Model.IsNewAttribute))').val(true);
	}
	$(document).ready(function() {
		$('#exist-attr').on('click',
			function () {
				$('.new-attribute-result').hide(500);
				$('.existing-attribute-result').show(500);
				$('#@(nameof(Model.IsNewAttribute))').val(false);
			});
	});
</script>