@using ObjectModel.Directory
@model KadOzenka.Web.Models.MarketObject.CoreObjectDto

<style>
	.object-link-icon {
		margin-left: 22px;
		vertical-align: baseline;
	}
	a.object-link {
		white-space: nowrap;
		text-decoration: none;
	}
	.object-link-text {
		white-space: break-spaces;
	}
</style>

<div class="form-horizontal col-sm-12 general">
	<div class="form-group" style="margin-bottom: 0;">
		<div class="col-sm-3">
			<div class="form-group">
				<div class="col-sm-12">
					@if (string.IsNullOrWhiteSpace(Model.ImageUrl))
					{
						<img src="@Model.MarketLogoUrl" class="img-thumbnail">
					}
					else
					{
						<img src="@Model.ImageUrl" onerror="this.onerror=null; this.src='@Model.MarketLogoUrl'" class="img-thumbnail">
					}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a class="object-link" href="/ObjectCard?ObjId=@Model.Id&RegisterViewId=MarketObjects&isVertical=true&useMasterPage=true" target="_blank">
						<span class="object-link-text">Карточка объекта</span>
						<span class="object-link-icon k-icon fas fa-landmark"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="form-group" style="vertical-align: middle;">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.Market)
				</div>
				<div class="col-sm-2">
					@Html.Label(Model.Market)
				</div>
				@if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
				{
					<div class="col-sm-2">
						<img src="@Model.MarketLogoUrl" class="sourceIcon">
					</div>
				}
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.DealType)
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.DealType)
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.Price)
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.Price?.ToString("n") + " ₽")
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@if (Model.CIPJSTypeCode == PropertyTypesCIPJS.LandArea)
					{
						@Html.Label("Цена за сот.")
					}
					else
					{
						@Html.Label("Цена за м²")
					}
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.PricePerSquareMeter?.ToString("n") + " ₽")
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.Area)
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.AreaStr)
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.Address)
				</div>
				<div class="col-sm-8" title="@Model.Address">
					@Html.Label("Name", Model.AddressShort, new { style = "word-wrap: normal" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.CadastralNumber)
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.CadastralNumber)
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					@Html.LabelFor(x => x.MarketSegment)
				</div>
				<div class="col-sm-8">
					@Html.Label(Model.MarketSegment)
				</div>
			</div>
			<div class="form-group" style="padding-bottom: 0;">
				<div class="col-sm-10 col-sm-offset-2">
					<input type="button" value="Исключить из расчета" id="excludeFromCalculation_@Model.Id" />
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	$(document).ready(function () {
		console.log("WORKS");
	});
</script>

<style>
	.general {
		font-size: 130%;
		padding-bottom: 0;
	}

	.sourceIcon {
		background-size: 21px 31px;
		background-repeat: no-repeat;
		background-position: center left;
		width: 21px;
		height: 25px;
		cursor: pointer;
	}
</style>
