@using Core.Shared.Extensions
@using ObjectModel.Market

@model ObjectModel.Market.OMCoreObject

<form>
    <input type="hidden" name="Id" value="@Model.Id" />
    <ul id="ls_panelbar" class="panelbar">
        <li id="Section_Main" data-expand>
            <span>Основные данные</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">

                        <div class="col-sm-2">
                            <label class="control-label">Источник данных</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.Market" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Тип сделки</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.DealType" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Дата сделки</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox"  readonly value="@Model.ParserTime.Value.ToString("yyyy.MM.dd")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Адрес</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="k-textbox" readonly value="@Model.Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Метро</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.Metro" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Площадь</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.Area" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Описание</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="k-textbox" readonly rows="5" style="resize:none;">@Model.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="Section_ScreenShots" data-expand>
            <span>Скриншоты</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    @if (((List<(long, DateTime?)>)ViewBag.ScreenShots).IsNotEmpty())
                    {
                        <ol>
                        @foreach (var screen in (List<(long, DateTime?)>)ViewBag.ScreenShots)
                        {
                            <li>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">@screen.Item2.ParseToString()</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <a href="@(Url.Action("ShowFile", "MarketObjects") + "?id=" + screen.Item1)"  data-fancybox="gallery" data-caption="@screen.Item2.Value">
	                                        <img src="@(Url.Action("ShowFile", "MarketObjects") + "?id=" + screen.Item1)" alt="" style="height:92px; width:192px" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                        </ol>
                    }
                </div>
            </div>           
        </li>
        <li id="Section_Reestr" data-expand>
            <span>Данные Росрестра</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Кадастровый номер</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="k-textbox" readonly value="@Model.CadastralNumber" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Кадастровый район</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="k-textbox" readonly value="@Model.CadastralQuartal" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Район</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="k-textbox" readonly value="@Model.District" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Кадастровый номер здания</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="k-textbox" readonly value="@Model.BuildingCadastralNumber" />
                        </div>
                    </div>
                </div>
            </div>           
        </li>
        <li id="Section_OKS" data-expand>
            <span>Данные ОКС</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Год постройки</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.BuildingYear" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Этажноcть</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.FloorsCount" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Номер этажа</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.FloorNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Площадь кухни</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.AreaKitchen" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Площадь жилая</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.AreaLiving" />
                        </div>

                    </div>
                </div>
                </div>
        </li>
        <li id="Section_Group" data-expand>
            <span>Группировка</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Зона</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.Zone" />
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Группа</label>
                        </div>
                        <div class="col-sm-2">
                            <input class="k-textbox" readonly value="@Model.Group" />
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Подгруппа</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="k-textbox" readonly rows="2" style="resize:none;">@Model.Subgroup</textarea>
                        </div>
                    </div>
                    <div id="gu_list">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="static-nav">
        <nav id="navigation-menu">
            <a href="#Section_Main">Основные данные</a>
            <a href="#Section_Reestr">Данные Росреестра</a>
            <a href="#Section_OKS">Данные ОКС</a>
            <a href="#Section_Group">Группировка</a>
        </nav>
    </div>
</form>

@section styles {
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
}

@section scripts {
    <script src="~/js/jquery.fancybox.min.js"></script>

    <script>
        $(function() {
            var panelbar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
            panelbar.expand('li[data-expand]');

            $("#navigation-menu a").mPageScroll2id({
                highlightSelector:"#navigation-menu a"
            });
         });
    </script>
}
