@model CIPJS.Models.InputPlat.LinkToContractDto

<form>
    @for (int i = 0; i < Model.InputPlatIds.Count; i++)
    {
        @Html.HiddenFor(x => x.InputPlatIds[i])
    }
    @Html.HiddenFor(x => x.ContractId)
    <div id="toolbar" style="display: none;"></div>
    @if (Model.ExistsLinks != null && Model.ExistsLinks.Any())
    {
        <div style="padding: 10px;">@(Html.Raw(string.Join("<br>", Model.ExistsLinks)))<br>Продолжить?</div>
    }
</form>

<script>
    $(function () {
        function selectContract() {
            var contentUrl = '@Url.Action("Index", "RegistersView", new { registerId = "ContractsSelect" })',
                title = 'Выбор договора',
                callbackFn = function (item) {
                    Common.ClearNotification();
                    kendo.ui.progress($('body'), true);
                    $('[name="ContractId"]').val(item.id);
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("LinkToContract", "InputPlat")',
                        data: $('form').serialize(),
                        success: function () {
                            Common.ShowMessage('Операция успешно выполнена');
                            setTimeout(function () { Common.UI.CloseWindow('registerModalWindow', window.parent); }, 2000);
                        },
                        error: function (e) {
                            Common.ShowError(e.responseText);
                            kendo.ui.progress($('body'), false);
                        }
                    });
                };

            Common.UI.ChooseWindow(title, contentUrl, callbackFn, 'Grid-@ObjectModel.Insur.OMAllProperty.GetRegisterId()');
        }

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Да',
                    click: function () {
                        selectContract();
                    }
                },
                {
                    type: 'button',
                    text: 'Нет',
                    click: function () {
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });

        @if (Model.ExistsLinks != null && Model.ExistsLinks.Any())
        {<text>
        $('#toolbar').show();
        </text>}
        else
        {<text>
        selectContract();
        </text>}
    });
</script>