@model KadOzenka.Web.Models.DataUpload.UploadGknDto

<div>
    <ul id="ls_panelbar" class="panelbar">
        <li id="MainData" data-expand>
            <span>Основные данные</span>
            <div>
                <div class="form-horizontal col-sm-12" style="margin-top:10px;">
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.CustomLabel("Тур")
                        </div>
                        <div class="col-sm-9">
                            <input id="Tour" name="Tour" editmode="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.CustomLabel("Номер документа")
                        </div>
                        <div class="col-sm-9">
                            @Html.KendoNumericTextBoxFor(x => x.DocNumber, isReadonly: false)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.CustomLabel("Дата документа")
                        </div>
                        <div class="col-sm-9">
                            @Html.KendoDatePickerFor(x => x.DocDate, isReadonly: false)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.CustomLabel("Тип статьи")
                        </div>
                        <div class="col-sm-9">
                            @Html.KendoEnumDropDownListFor(x => x.NoteType, isReadonly: false)
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li id="Images" data-expand>
            <span>Образы</span>
        </li>

        <li id="XmlFiles" data-expand>
            <span>XML-файлы</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <form id="fileForm">
                        <input name="files" id="files" type="file" aria-label="files" />
                    </form>
                </div>
            </div>
        </li>
    </ul>

    <div class="static-nav">
        <nav id="navigation-menu">
            <a href="#MainData">Основные данные</a>
            <a href="#Images">Образы</a>
            <a href="#XmlFiles">XML-файлы</a>            
        </nav>
        <div id="toolbar"></div>
    </div>

</div>

<script>
    $(document).ready(function () {

        var panelbar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
        panelbar.expand('li[data-expand]');

        $("#navigation-menu a").mPageScroll2id({
            highlightSelector: "#navigation-menu a"
        });

        var toolbar = $("#toolbar").kendoToolBar({
            items: [
                {
                    type: 'button',
                    id: 'load',
                    text: '',
                    click: function () {
                        var message = [];
                        if (files.getFiles().length == 0) {
                            message += 'Необходимо выбрать как минимум один файл<br>';
                        }
                        if ($('[name="DocNumber"]').val() == 0) {
                            message += 'Необходимо заполнить номер документа<br>';
                        }                        
                        if ($('[name="DocDate"]').data().kendoDatePicker.value() == null) {
                            message += 'Необходимо заполнить дату документа<br>';
                        }
                        if ($('[name="NoteType"]').val() == 0) {
                            message += 'Необходимо заполнить тип статьи<br>';
                        }
                        if (message.length != 0) {
                            Common.ShowError(message);
                            return;
                        }

                        var formData = new FormData($('#fileForm').get(0));

                        formData.set('DocNumber', $('[name="DocNumber"]').val());
                        var date = $('[name="DocDate"]').data().kendoDatePicker.value();                       
                        formData.set('DocDate', date.toDateString());                       
                        formData.set('TourId', $('[name="Tour"]').val());
                        formData.set('NoteType', $('[name="NoteType"]').val());

                        kendo.ui.progress($('body'), true);
                        $.ajax({
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowMessage("Загрузка успешно добавлена в очередь, по результатам загрузки будет отправлено сообщение");
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                var msg = e.responseText ? e.responseText : 'Ошибка загрузки. Обратитесь к администратору.'
                                Common.ShowError(msg);
                            }
                        });
                    },
                    icon: 'upload',
                    hidden: false
                }
            ]
        });

        $("#toolbar").kendoTooltip({
            filter: "a.k-button",
            content: function (e) {
                switch ($(e.target).attr('id')) {
                    case "load":
                        return "Загрузить";
                    case "print":
                        return "Печать";
                }
            },
            position: "top",
            autoHide: true,
            showAfter: 500
        });        

        $('[name="Tour"]')
            .kendoDropDownList({
                dataTextField: 'Text',
                dataValueField: 'Value',
                dataSource:
                {
                    transport: {
                        read: {
                            url: '@Url.Action("GetRatingTours", "Task")',
                            dataType: 'json'
                        }
                    }
                }
            });

        var files = $('#files').kendoUpload({
		    multiple: true,
		    localization: {
			    select: 'Выбрать файлы'
		    },		    
		    validation: {
			    allowedExtensions: ['.xml']
		    },
		    error: function (e) {
			    if (e.XMLHttpRequest.responseText) {
				    Common.ShowError(e.XMLHttpRequest.responseText);
			    } else {
				    Common.ShowError("При загрузке выбранного файла возникла ошибка (подробно в журнале ошибок)");
			    }
		    }
	    }).data('kendoUpload');
    });
</script>