@model CIPJS.Models.Commission.CommissionModel

@using (Html.BeginForm("EditCommission", "Commission", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
	<ul id="ls_panelbar" class="panelbar">
		<li id="Section_Main" data-expand>
			<span>Основные данные</span>
			<div>
				<div class="form-horizontal col-sm-12">
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.ApplicantStatus)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.ApplicantStatus, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.Kn)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.Kn, false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.Kc)
						</div>
						<div class="col-sm-4">
							@Html.KendoNumericTextBoxFor(m => m.Kc,2, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.StatementDate)
						</div>
						<div class="col-sm-4">
							@Html.KendoDatePickerFor(m => m.StatementDate, isReadonly: false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.StatementNumber)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.StatementNumber, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.CommissionGroup)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.CommissionGroup, isReadonly: false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.DateKc)
						</div>
						<div class="col-sm-4">
							@Html.KendoDatePickerFor(m => m.DateKc, false)
						</div>
					</div>
				</div>
			</div>
		</li>
		<li id="Section_Solution" data-expand>
			<span>Решение комиссии</span>
			<div>
				<div class="form-horizontal col-sm-12">
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.DecisionResult)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.DecisionResult, false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.DecisionNumber)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.DecisionNumber, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.CommissionKc)
						</div>
						<div class="col-sm-4">
							@Html.KendoNumericTextBoxFor(m => m.CommissionKc, 2, false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.DecisionDate)
						</div>
						<div class="col-sm-4">
							@Html.KendoDatePickerFor(m => m.DecisionDate, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.CommissionType, true)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.CommissionType, false)
						</div>
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.CommissionChange)
						</div>
						<div class="col-sm-4">
							@Html.KendoTextBoxFor(m => m.CommissionChange, false)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							@Html.CustomLabelFor(m => m.MarketValue)
						</div>
						<div class="col-sm-4">
							@Html.KendoNumericTextBoxFor(m => m.MarketValue,2, false)
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="form-group">
		<div class="col-sm-12">
			<button style="float: right" class="k-button" id="save" type="button">Сохранить</button>
		</div>
	</div>
}

@section styles {
	<link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
	<style>
		#ls_panelbar {
			width: 99%
		}
	</style>
}
@section scripts {
	<script src="~/js/jquery.fancybox.min.js"></script>

	<script type="text/javascript">
		function distinctErrors(errors) {
			var result = [];
			$.each(errors,
				function(index, event) {
					var events = $.grep(result,
						function(e) {
							return event.Message === e.Message;
						});
					if (events.length === 0) {
						result.push(event);
					}
				});

			return result;
		}
		$(document).ready(function() {
			var panelBar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
			panelBar.expand('li[data-expand]');

			$('#save').on('click',
				function() {
					var form = $('form');
					var formObject = Common.Functions.FormToObject(form);

					kendo.ui.progress($('body'), true);

					$.post(form.attr('action'), formObject).done(function (response) {
						kendo.ui.progress($('body'), false);
						if (response.Errors) {
							var errors = $.map(distinctErrors(response.Errors),
								function(el) {
									return el.Message;
								});
							Common.ShowError(errors);
							return;
						}

						if (response.Success && response.data) {
							$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
							Common.ShowMessage(response.Success);
						}
					});
				});
		});
	</script>
}