@using KadOzenka.Dal.ManagementDecisionSupport
@using KadOzenka.Dal.ManagementDecisionSupport.Enums

@model KadOzenka.Web.Models.ManagementDecisionSupport.StatisticalDataModel;

<style>
    .subgroup-first-level {
        margin-left: 5%;
    }

    .subgroup-second-level {
        margin-left: 10%;
    }

    .k-radio-label {
        font-weight: normal
    }
</style>

<div class="form-horizontal col-sm-12" style="height: 100%;">
    <div class="form-group">
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.CustomLabelFor("Тур оценки")
        </div>
        <div class="col-sm-9">
            @(Html.Kendo().DropDownListFor(x => x.TourId)
                .DataTextField("Text")
                .DataValueField("Value")
                .Filter("contains")
                .Events(x =>
                    x.Change("onTourChanged").DataBound("onTourChanged"))
                .DataSource(data => data.Read("GetRatingTours", "Tour"))
                )
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.CustomLabelFor("Задания на оценку")
        </div>
        <div class="col-sm-9">
            @(Html.Kendo().MultiSelectFor(x => x.TaskFilter)
                .DataTextField("Text")
                .DataValueField("Value")
                .Events(x =>
                    x.Change("onTaskFilterChanged").DataBound("onTaskFilterChanged"))
                .Filter("contains")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetTasksByTour", "Task").Data("getTaskData");
                    })
                        .ServerFiltering(false);
                }))
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-11">
            @Html.CustomLabelFor("Статистика по количеству объектов:")
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheNumberOfObjectsByAdministrativeDistricts.GetEnumDescription()).Value((long) StatisticalDataType.OnTheNumberOfObjectsByAdministrativeDistricts).Checked(true))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheNumberOfObjectsByGroups.GetEnumDescription()).Value((long) StatisticalDataType.OnTheNumberOfObjectsByGroups))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheNumberOfObjectsByZoneAndSubgroups.GetEnumDescription()).Value((long) StatisticalDataType.OnTheNumberOfObjectsByZoneAndSubgroups).Enable(false))
        </div>
        <div class="col-sm-11">
            @Html.CustomLabelFor("Статистика по минимальным, максимальным и средним УПКС/УПРС:")
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheMinMaxAverageUPKSByAdministrativeDistricts.GetEnumDescription()).Value((long) StatisticalDataType.OnTheMinMaxAverageUPKSByAdministrativeDistricts))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheMinMaxAverageUPKSByGroups.GetEnumDescription()).Value((long) StatisticalDataType.OnTheMinMaxAverageUPKSByGroups).Enable(false))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.OnTheMinMaxAverageUPKSByCadastralQuarters.GetEnumDescription()).Value((long) StatisticalDataType.OnTheMinMaxAverageUPKSByCadastralQuarters))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.SubjectsUPKS.GetEnumDescription()).Value((long) StatisticalDataType.SubjectsUPKS).Enable(false))
        </div>
        <div class="col-sm-11">
            @Html.CustomLabelFor("Результат оценки:")
        </div>
        <div>
            <div class="col-sm-11 subgroup-first-level">
                @Html.CustomLabelFor("Результаты в разрезе КР:")
            </div>
            <div class="col-sm-11 subgroup-second-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsByKRForParcels.GetEnumDescription()).Value((long)StatisticalDataType.ResultsByKRForParcels).Enable(true))
            </div>
            <div class="col-sm-11 subgroup-second-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsByKRForBuildings.GetEnumDescription()).Value((long)StatisticalDataType.ResultsByKRForBuildings).Enable(true))
            </div>
            <div class="col-sm-11 subgroup-second-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsByKRForUncompletedBuildings.GetEnumDescription()).Value((long)StatisticalDataType.ResultsByKRForUncompletedBuildings).Enable(true))
            </div>
            <div class="col-sm-11 subgroup-second-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsByKRForConstructions.GetEnumDescription()).Value((long)StatisticalDataType.ResultsByKRForConstructions).Enable(true))
            </div>
            <div class="col-sm-11 subgroup-second-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsByKRForPlacements.GetEnumDescription()).Value((long)StatisticalDataType.ResultsByKRForPlacements).Enable(false))
            </div>
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ResultsForApproval.GetEnumDescription()).Value((long) StatisticalDataType.ResultsForApproval).Enable(false))
        </div>
        <div class="col-sm-11 subgroup-first-level">
            @Html.CustomLabelFor("Результаты сводные по КР:")
        </div>
        <div class="col-sm-11 subgroup-second-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.KRSummaryResultsOks.GetEnumDescription()).Value((long) StatisticalDataType.KRSummaryResultsOks))
        </div>
        <div class="col-sm-11 subgroup-second-level">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.KRSummaryResultsZu.GetEnumDescription()).Value((long) StatisticalDataType.KRSummaryResultsZu))
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.UPKSAverageValuesByKKCadastralRegionsAndRussianFederationSubject.GetEnumDescription()).Value((long) StatisticalDataType.UPKSAverageValuesByKKCadastralRegionsAndRussianFederationSubject).Enable(false))
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.GeneralizedIndicators.GetEnumDescription()).Value((long) StatisticalDataType.GeneralizedIndicators).Enable(false))
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.CadastralCostDeterminationResults.GetEnumDescription()).Value((long) StatisticalDataType.CadastralCostDeterminationResults).Enable(true))
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.InfoAboutCadastralCostDeterminingMethod.GetEnumDescription()).Value((long) StatisticalDataType.InfoAboutCadastralCostDeterminingMethod).Enable(true))
        </div>
        <div>
            <div class="col-sm-11">
                @Html.CustomLabelFor("Параметры расчётов:")
            </div>
            <div class="col-sm-11 subgroup-first-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.CalculationParams.GetEnumDescription()).Value((long)StatisticalDataType.CalculationParams).Enable(true))
            </div>
            <div class="col-sm-11 subgroup-first-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.ModelingResults.GetEnumDescription()).Value((long)StatisticalDataType.ModelingResults).Enable(false))
            </div>
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.PricingFactorsComposition.GetEnumDescription()).Value((long) StatisticalDataType.PricingFactorsComposition).Enable(false))
        </div>
        <div>
            <div class="col-sm-11">
                @Html.CustomLabelFor("Результаты кодировки качественных ценообразующих факторов:")
            </div>
            <div class="col-sm-11 subgroup-first-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.QualityPricingFactorsEncodingResultsOks.GetEnumDescription()).Value((long) StatisticalDataType.QualityPricingFactorsEncodingResultsOks))
            </div>
            <div class="col-sm-11 subgroup-first-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.QualityPricingFactorsEncodingResultsZu.GetEnumDescription()).Value((long) StatisticalDataType.QualityPricingFactorsEncodingResultsZu))
            </div>
            <div class="col-sm-11 subgroup-first-level">
                @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.QualityPricingFactorsEncodingResultsGrouping.GetEnumDescription()).Value((long) StatisticalDataType.QualityPricingFactorsEncodingResultsGrouping))
            </div>
        </div>
        <div class="col-sm-11">
            @(Html.Kendo().RadioButtonFor(m => m.ReportType).Label(StatisticalDataType.StatisticsInContextOfArbitraryParams.GetEnumDescription()).Value((long) StatisticalDataType.StatisticsInContextOfArbitraryParams).Enable(false))
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12" style="position: absolute;bottom: 15px;">
            <button style="float: right" id="showViewer" class="k-button" type="button">Сформировать</button>
        </div>
    </div>
    <div id="reportViewerWindow"></div>
</div>

<script type="text/javascript">
    var dialog;
    var window1;

    $(document).ready(function () {
        $('#showViewer').click(onShowViewerClicked);

        window1 = $('#reportViewerWindow').kendoWindow({
            visible: false,
            resizable: false,
            modal: true,
            //title: 'Характеристики',
            iframe: true,
            close: function() {
                this.content("");
            },
        }).data('kendoWindow');
    });

    function onTourChanged(e) {
        $("#TaskFilter").data('kendoMultiSelect').dataSource.read();
        $("#TaskFilter").data('kendoMultiSelect').refresh();
    }

    function onTaskFilterChanged(e) {
        var value = this.value();
        if (value.length == 0) {
            $('#showViewer').attr('disabled', true);
        } else {
            $('#showViewer').attr('disabled', false);
        }
    }

    function getTaskData() {
        return {
            tourId: $('#TourId').data('kendoDropDownList').value()
        }
    }

    function onShowViewerClicked() {
        var formObject = Common.Functions.FormToObject($('.form-horizontal'));
        formObject.TaskFilter = $("#TaskFilter").data("kendoMultiSelect").value();

        kendo.ui.progress($('body'), true);
        $.post("/ManagementDecisionSupport/GetStatisticalDataReportUrl", formObject).done(function(response) {
            if (response.Errors) {
                var errors = getErrors(response.Errors);
                Common.ShowError(errors);
                return;
            }
            debugger;
            window1.refresh({
                url: response.reportUrl
            });

            //kendo.ui.progress($('#reportViewerWindow'), true);
            //kendoWindow.bind('refresh', function () {
            //    kendo.ui.progress($('#reportViewerWindow'), false);
            //});

            window1.center();
            window1.open();
            window1.maximize();

        }).fail(function (response, textStatus, errorThrown) {
            Common.ShowError(response.responseText);
        }).always(function () {
            kendo.ui.progress($('body'), false);
        });
    }
</script>