@using ObjectModel.Directory;
@model List<ObjectModel.Insur.OMInvoice>

<div id="toolbar"></div>
@if (ViewBag.ErrorMessage != null)
{
    <div style="padding: 10px;">@ViewBag.ErrorMessage</div>
}
else
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-12">
                <table id="grid">
                    @if ((ReestrPayType)ViewBag.ReestrPayType == ReestrPayType.ReturnBonusOI)
                    {
                        @if (ViewBag.InvoiceSvod != null)
                        {
                            @foreach (var invoiceSvod in ViewBag.InvoiceSvod as List<ObjectModel.Insur.OMInvoiceSvod>)
                            {
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th data-field="SubjectName">Получатель</th>
                                        <th data-field="NumInvoice">Номер счета</th>
                                        <th data-field="DateInvoice">Дата счета</th>
                                        <th data-field="SumOpl">Сумма счетов</th>
                                        <th data-field="InvoiceVsego">Количество счетов</th>
                                        <th data-field="Status">Статус счета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@invoiceSvod.SubjectName</td>
                                        <td>@invoiceSvod.NumInvoice</td>
                                        <td>@invoiceSvod.DateInvoice?.ToString("dd.MM.yyyy")</td>
                                        <td><div style="text-align:right;">@invoiceSvod.SumSvod?.ToString("N2")</div></td>
                                        <td>@invoiceSvod.InvoiceVsego</td>
                                        <td>@invoiceSvod.Status</td>
                                    </tr>
                                </tbody>
                            }
                        }
                    }
                    else
                    {
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th data-field="NomDoc">Номер дела</th>
                                <th data-field="NomDate">Дата дела</th>
                                <th data-field="SumDamage">Сумма ущерба</th>
                                <th data-field="SubjectName">Получатель</th>
                                <th data-field="SumOpl">Сумма выплаты</th>
                                <th data-field="BicBank">БИК банка</th>
                                <th data-field="BankName">Название банка</th>
                                <th data-field="RachAcc">Расчетный счет</th>
                                <th data-field="Status">Статус счета</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ParentDamage?.NomDoc</td>
                                    <td>@item.ParentDamage?.NomDate?.ToString("dd.MM.yyyy")</td>
                                    <td><div style="text-align:right;">@item.ParentDamage?.SumDamage?.ToString("N2")</div></td>
                                    <td>@item.SubjectName</td>
                                    <td><div style="text-align:right;">@item.SumOpl?.ToString("N2")</div></td>
                                    <td>@item.BicBank</td>
                                    <td>@item.BankName</td>
                                    <td>@item.RachAcc</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Согласовать',
                    icon: 'check',
                    enable: @(ViewBag.ErrorMessage != null ? "false" : "true"),
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        @if (Model != null && Model.Any())
                        {<text>
                        $.ajax({
                            url: '@Url.Action("AgreedList", "Invoice")',
                            type: 'POST',
                            data: '{ Ids: @Json.Serialize(Model.Select(x => x.EmpId).ToList()) }',
                            contentType: 'application/json',
                            success: function(e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.ShowMessage('Операция успешно выполнена');
                                    setTimeout(function () {
                                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                                    }, 1000);
                                }
                            },
                            error: function(e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                        </text>}
                    }
                }
            ]
        });

        $('#grid').kendoGrid({ sortable: false, resizable: true });
    });
</script>
