@model KadOzenka.Web.Models.Modeling.ModelingModel

@using (Html.BeginForm("AddModel", "Modeling", FormMethod.Post, htmlAttributes: new {id = "saveModelForm"}))
{
    <div class="form-horizontal" style="padding: 5% 5% 0 5%;">
        <div class="form-group">
            <div class="col-sm-12">
                <a style="float: right" href="/Help/Help?CurrentLocation=AddModel" target="_blank">
                    <span style="font-size: 20px;" class="k-icon k-i-question"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(x => x.Name)
            </div>
            <div class="col-sm-9">
                @Html.KendoTextBoxFor(x => x.Name, isReadonly: false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(x => x.GroupId)
            </div>
            <div class="col-sm-9">
               <div id="groups"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(x => x.TourId)
            </div>
            <div class="col-sm-9">
                @(Html.Kendo().DropDownListFor(m => m.TourId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Filter(FilterType.Contains)
                    .DataSource(source =>
                    {
                        source.Read("GetRatingTours", "Tour");
                    })
                    .Events(e =>
                    {
                        e.Change("onTourChange").DataBound("onTourChange");
                    }))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-8" style="padding-top: 2%">
                @Html.KendoButton("SaveModel", "Сохранить")
            </div>
        </div>
    </div>
}


<script src="~/js/custom-validation.js"></script>
<script>
    $(document).ready(function () {
        $("#SaveModel").on('click', SaveModel);
	});



    function onTourChange() {
        kendo.ui.progress($('body'), true);
        var selectedTour = $("#TourId").data("kendoDropDownList").value();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetGroups", "Modeling")',
                    data: { tourId: selectedTour},
                    dataType: 'json'
                }
            }
        });
        var groups = $('#groups').data("kendoDropDownList");
        if (groups) {
            groups.setDataSource(dataSource);
            groups.value(-1);
        }
        else {
            $("#groups").kendoDropDownList({
                dataTextField: 'Text',
                dataValueField: 'Value',
                dataSource: dataSource,
                filter: "contains"
            });
        }
        kendo.ui.progress($('body'), false);
    }


    function SaveModel() {
		kendo.ui.progress($('body'), true);
		var form = $('#saveModelForm');
        var formObject = Common.Functions.FormToObject(form);
        formObject.GroupId = $('#groups').data("kendoDropDownList").value();
		$.ajax({
            type: form.attr('method'),
			url: form.attr('action'),
			data: formObject,
            success: function (response) {
                if (response.Errors) {
					var errors = getErrors(response.Errors);
					Common.ShowError(errors);
					return;
				} else {
					Common.ShowMessage(response.Message);
					CloseMainWindow();
				}
			},
			error: function (response) {
				Common.ShowError(response.responseText);
			},
			complete: function () {
				kendo.ui.progress($('body'), false);
			}
		});
	}


	function CloseMainWindow() {
		setTimeout(function () {
			//Common.UI.CloseWindow('registerModalWindow', window.parent);
			window.parent.parent.location.reload();
		}, 1000);
	}

</script>

