@using Newtonsoft.Json;

@model KadOzenka.Web.Models.DataImporterLayout.DataImporterLayoutDto

<form>
	<input type="hidden" name="Id" value="@Model.Id" />
	<div class="form-horizontal col-sm-12">
		<div class="form-group"></div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Имя пользователя</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.UserName" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Статус</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.Status?.GetEnumDescription()" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Дата создания</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.DateCreated?.ToString("dd.MM.yyyy HH:mm:ss")" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Дата запуска</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.DateStarted?.ToString("dd.MM.yyyy HH:mm:ss")" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Дата завершения</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.DateFinished?.ToString("dd.MM.yyyy HH:mm:ss")" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Имя шаблона файла</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.TemplateFileName" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Объем файла (КБ)</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.FileSizeKb" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Объем файла (MБ)</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.FileSizeMb" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">ИД ошибки</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.ErrorId" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">ИД основного реестра</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.MainRegisterId" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">ИД представления реестра</label>
			</div>
			<div class="col-sm-4">
				<input class="k-textbox" readonly value="@Model.RegisterViewId" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Параметры соответствия колонок и показателей</label>
			</div>
			<div class="col-sm-4">
				<div id="listView"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Результирующее сообщение</label>
			</div>
			<div class="col-sm-4">
				<textarea class="k-textbox" readonly rows="10" style="resize:none;">@Model.ResultMessage</textarea>
			</div>
		</div>
	</div>
</form>

@section styles {
	<style>
		#listView {
			max-height: 200px;
			overflow: auto;
			padding: 0.4em;
			border-color: #ceced2;
			border-radius: 6px;
			border-style: solid;
			border-width: 1px;
		}
		.matchItem {
			margin-top: 0.4em;
			border: #ceced2;
		}

		.matchItem > div {
			white-space: nowrap;
		}
	</style>
}

@section scripts {
	<script type="text/x-kendo-tmpl" id="template">
		<div class="matchItem k-widget">
			<div>
				<span>
					<span><input type="checkbox" #=IsKey ? checked='checked' : '' # onclick="return false;"/></span>
					<span>#:ColumnName#</span>
					<span>-</span>
					<span>#:AttributeName#</span>
				</span>
			</div>
	</script>
	<script>
		var dataSource = new kendo.data.DataSource({
			data: @(@Html.Raw(JsonConvert.SerializeObject(Model.ColumnsMappingDtoList)))
		});

		$(document).ready(function () {
			$("#listView").kendoListView({
				dataSource: dataSource,
				template: kendo.template($("#template").html())
			});
		});
	</script>
}