@model KadOzenka.Web.Models.Tour.TourFactorObjectModel

@using (Html.BeginForm("DeleteTourFactorObject", "Tour", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @if (!ViewBag.CanDelete)
    {
        <div class="form-horizontal col-sm-12">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CustomLabel($"Фактор \"{Model.Name}\" не может быть удален, так как он используется в утвержденных моделях.")
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-horizontal col-sm-12">
            <div class="form-group">
                <div class="col-sm-12">
                    @if (ViewBag.ShowAdditionalMessage)
                    {
                        @Html.CustomLabel("Удаление данного фактора изменит формулу и сбросит статус в исходный для следующих моделей:")
                        <br/>
                        @Html.CustomLabel($"{ViewBag.AdditionalMessage}")
                        <br/>
                    }
                    @Html.CustomLabel($"Вы уверены что хотите удалить фактор \"{Model.Name}\"?")
                </div>
            </div>
            <button class="k-button k-button-icontext" style="float: right" id="delete" type="button">
                <span class="k-icon k-i-check"></span>Удалить
            </button>

        </div>
    }
}
<style>
    .form-horizontal{
        padding-top: 10px;
    }
    #delete {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
</style>

<script>
    $(document).ready(function () {
        $('#delete').on('click',
            function () {
                var btn = this;
                kendo.ui.progress($('body'), true);
                var form = $('form');
                var formObject = Common.Functions.FormToObject(form);

                $.post(form.attr('action'), formObject).done(function (response) {
                    kendo.ui.progress($('body'), false);
                    Common.ShowMessage("Фактор успешно удален");
                    $(btn).attr('disabled', true);
                }).fail(function (response, textStatus, errorThrown) {
                    kendo.ui.progress($('body'), false);
                    Common.ShowError(response.responseText);
                });
            });
    });
</script>
