<div style="margin-top: 10px; display: flex;">
    <div class="col-sm-2">
        @Html.CustomLabel("Тур оценки")
    </div>
    <div class="col-sm-2">
        @(Html.Kendo().DropDownList()
                                                    .Name("RatingTour")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
        )
    </div>
</div>

<div class="flex-content">
	<div class="k-content wide flex-tree-list">
        <div id="treeList"></div>
    </div>
    <div class="flex-list-buttons">
        <button class="btn btn-default add-group">
            Добавить
        </button>
        <button class="btn btn-default edit-group" style="display: block">
            Изменить
        </button>
        <button class="btn btn-default remove-group" style="display: block">
            Удалить
        </button>
        <button class="btn btn-default model" style="display: block">
            Модель
        </button>
    </div>
</div>


<script src="~/js/groups.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

		$('[name="RatingTour"]')
            .kendoDropDownList({
                dataTextField: 'Text',
                dataValueField: 'Value',
                optionLabel: "--",
                dataSource:
                {
                    transport: {
                        read: {
                            url: '@Url.Action("GetRatingTours", "Tour")',
                            dataType: 'json'
                        }
                    }
                }
            });

		$('[name="RatingTour"]').data("kendoDropDownList").bind('change', DownloadGroups);

		$('.add-group').on('click', function () {
			Common.UI.ShowWindow('Оценочная группа', '@Url.Action("EditGroup", "Tour")', 'editGroupWindow', DownloadGroups);
        });

        $('.edit-group').on('click', function () {
            var treeList = $("#treeList").data("kendoTreeView");
            var row = treeList.select();
            if (row.length > 0) {
                var data = treeList.dataItem(row);
                Common.UI.ShowWindow('Оценочная группа',
                    '@Url.Action("EditGroup", "Tour")' + '?id=' + data.Id,
                    'editGroupWindow',
					DownloadGroups);
            }
        });

        $('.model').on('click', function () {
			var treeList = $("#treeList").data("kendoTreeView");
            var row = treeList.select();
            if (row.length > 0) {
                var data = treeList.dataItem(row);                
                window.open('@Url.Action("Model", "Task")' + '?groupId=' + data.Id);
            }
        });

        $('.remove-group').on('click', function () {
			var treeList = $("#treeList").data("kendoTreeView");
            var row = treeList.select();
            if (row.length > 0) {
                var data = treeList.dataItem(row);
                Common.UI.ShowConfirm({
                    title: '',
                    content: 'Удалить группу ' + data.GroupName+'?',
                    onSuccess: function () {
                        kendo.ui.progress($('body'), true);
                        $.ajax({
                            url: '@Url.Action("DeleteGroup", "Tour")',
                            type: 'POST',
                            data: { id: data.Id },
                            success: function (response) {
                                kendo.ui.progress($('body'), false);
                                if (response.Success) {
	                                DownloadGroups();
                                    Common.ShowMessage(response.Success);
                                }
                            },
                            error: function (response) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(response.responseText);
                            }
                        });
                    }
                });
            }
        });

	});


	function DownloadGroups() {
		var tourId = $('input[name="RatingTour"]').data("kendoDropDownList").value();
		if (tourId != '') {
	            kendo.ui.progress($('body'), true);
	                $.ajax({
		                type: 'GET',
		                url: "@Url.Action("GetGroupsForTour", "Tour")",
						data: { tourId: tourId },
						success: function (response) {
							var result = MapTourGroups(response);
							var treeList = $("#treeList").data("kendoTreeView");
							if (treeList) {
								treeList.setDataSource(new kendo.data.HierarchicalDataSource({ data: result }));
							} else {
								$("#treeList").kendoTreeView({
									dataSource: result,
									dataTextField: 'GroupName',
									dataValueField: 'Id',
									change: TreeListChanged,
								});
								treeList = $("#treeList").data("kendoTreeView");
							}
							treeList.expand(".k-item");
						},
		                error: function(response) {
			                Common.ShowError(response.responseText);
		                },
		                complete: function() {
			                kendo.ui.progress($('body'), false);
		                }
	                });
                }
	}


	function TreeListChanged() {
		var row = this.select();
		var data = this.dataItem(row);
		if (data.Id == '@((long)ObjectModel.Directory.KoGroupAlgoritm.MainOKS)'
			|| data.Id == '@((long)ObjectModel.Directory.KoGroupAlgoritm.MainParcel)') {
			$('.edit-group').addClass('k-state-disabled');
			$('.remove-group').addClass('k-state-disabled');
			$('.model').addClass('k-state-disabled');
		}
		else {
			$('.edit-group').removeClass('k-state-disabled');
			$('.remove-group').removeClass('k-state-disabled');
			$('.model').removeClass('k-state-disabled');
		}
	}

</script>

@section styles {
	<style>
		.flex-content {
			display: flex;
			height: 100%;
		}

		.flex-tree-list {
			margin: 10px;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			align-items: stretch;
		}
		.flex-list-buttons {
			margin: 10px;
		}

		button {
			width: 10rem;
			margin-bottom: 5px !important;
		}

		.tour p:hover {
			background: #eaeef7;
		}

		.tour p {
			padding: 5px;
		}

		#treeList {
			height: 100%;
			max-height: 430px;
			max-width: 600px;
			margin: 0px !important;
		}

		.selected {
			background: #eaeef7;
		}

        .control-label {
            margin-bottom: 0px;
            font-weight: normal;
            vertical-align: sub;
        }
	</style>
}