@model KadOzenka.Web.Models.Tour.TourModel

<div class="form-horizontal col-sm-12">
    <div style="display: flex;">
        <div id="markGrid"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var markGridDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetMarkCatalog", "Tour")',
                    contentType: 'application/json; charset=utf-8',
                    data: {
                        groupId: '@ViewBag.GroupId', factorId: '@ViewBag.FactorId' },
                    dataType: 'json'
                },
                create: {
                    url: '@Url.Action("CreateMark", "Tour")',                         
                    type: 'POST',
                    dataType: 'json'
                },
                update: {
                    url: '@Url.Action("UpdateMark", "Tour")',                    
                    type: 'POST',
                    dataType: 'json'
                },
                destroy: {
                    url: '@Url.Action("DeleteMark", "Tour")',                        
                    type: 'POST',
                    dataType: 'json'
                }
            },
            requestStart: function(e) {
                if (e.type == "read") {
                    kendo.ui.progress($('body'), true);
                }
            },
            requestEnd: function (e) {
                if (e.type == "read") {
                    kendo.ui.progress($('body'), false);
                }
            },
            error: function (e) {
                Common.ShowError(e.xhr.responseText);
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        GroupId: { editable: false},
                        FactorId: { editable: false },
                        ValueFactor: { validation: {
                            valuefactorvalidation: function (input) {
                                if (input.is("[name='ValueFactor']") && input.val() == "") {
                                    input.attr("data-valuefactorvalidation-msg", "Значение фактора обязательно");
                                    return false;
                                }
                                return true;
                            }
                        } },
                        MetkaFactor: { validation: {
                            metkafactorvalidation: function (input) {
                                if (input.is("[name='MetkaFactor']") && input.val() == "") {
                                    input.attr("data-metkafactorvalidation-msg", "Значение метки обязательно");
                                    return false;
                                }
                                return true;
                            }
                        }, type: "number", nullable: true   }
                    }
                }
            },
            change: function (e) {
                //если добавляем новое значение в грид, а к нему уже была применена фильтрация
                //чтобы отобразить новую пустую строчку, нужна дополнительная фильтрация
                if (e.action == "add") {
                    var filter = this.filter();
                    if (filter) {
                        var noValueFilter = { field: "ValueFactor", operator: "eq", value: "" };
                        var newFilter = {
                            logic: "or",
                            filters: [noValueFilter, filter]
                        };
                        this.filter(newFilter);
                    }
                }
            },
            pageSize: 10
        });

        $('#markGrid').kendoGrid({
            dataSource: markGridDataSource,
            columns: [
                {
                    field: 'ValueFactor',
                    title: 'Значение',
                    headerAttributes: {                            
                        style: "text-align: center;"
                    }
                }, {
                    field: 'MetkaFactor',
                    title: 'Метка',
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    //по умолчанию точность новой метки - 2 знака после запятой, 
                    //переопределяем это
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoNumericTextBox({
                                format: "{0:n14}",
                                decimals: 14,
                                step: 0.1
                            });
                        //In case the custom editor is a widget, the developer should customize the validation warning tooltip position in order to avoid visual issues
                        var tooltipElement = $('<span class="k-invalid-msg" data-for="' + options.field + '"></span>');
                        tooltipElement.appendTo(container);
                    }
                },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
            ],
            toolbar: ["create"],
            scrollable: true,
            pageable: true,
            editable: "inline",
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Начинается с",
                        eq: "Равно",
                        neq: "Не равно"
                    },
                    number: {
                        eq: "Равно",
                        gte: "Больше",
                        lte: "Меньше"
                    }
                }
            },
            beforeEdit: function (e) {
                if (e.model.isNew()) {
                    e.model.GroupId = '@ViewBag.GroupId';
                    e.model.FactorId = '@ViewBag.FactorId';
                }
            },
            save: function (e) {
                //из-за неправильного разделителя значение в контроллер приходит пустое
                //была попытка установить culture для kendoNumericTextBox - не сработало
                var initialValue = e.model.MetkaFactor.toString();
                var replacedValue = initialValue.replace(".", ",");
                e.model.MetkaFactor = replacedValue;
            }
        });

    });

</script>

