<div class="flex-content">
    <!-- Модальное окно для добавления Тура -->
    <div id="tourAdditionModal" style="display: none;">
        <div class="form-group" style="padding: 5px">
            <label for="addInput"> Наименование </label>
            <input id="addInput" class="form-control add-input" required="required" type="number" name="addTour"/>
            <button class="btn btn-default" style="margin-top: 10px;" id="saveTour"> Сохранить </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                @(Html.Kendo().ToolBar()
                    .Name("additionToolbar")
                    .Items(items =>
                    {
                        items.Add().Type(CommandType.SplitButton).Icon("add").Text("").MenuButtons(menuButtons =>
                        {
                            menuButtons.Add().Text("Тур").Id("add-tour");
                            menuButtons.Add().Text("Группа").Id("add-group");
                            menuButtons.Add().Text("Подгруппа").Id("add-subgroup");
                        });
                    }))
            </div>
        </div>
        <div class="row">
            <div class="k-content wide flex-tree-list col-sm-5">
                <div id="treeList"></div>
            </div>
            <div class="col-sm-6">
                <div id="mainContent">

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#additionToolbar').removeClass("k-widget");

        $("#add-tour").click(function () {
            ShowTourAdditionModal();
        });
        $("#saveTour").click(function (e) {
            UpdateTour(true);
        });
        $("#add-group").click(function (e) {
        });
        $("#add-subgroup").click(function (e) {
        });

        var dataSource = new kendo.data.TreeListDataSource({
			transport: {
				read: {
					url: "@Url.Action("GetGroupsForTour", "Tour", new {tourId = ViewBag.TourId})",
					dataType: "json"
				}
			},
			schema: {
				model: {
					id: "Id",
					parentId: "ParentId",
					fields: {
                        ParentId: { field: "ParentId", nullable: true },
                        Id: { field: "Id", type: "number" },
                        TourId: { field: "TourId", type: "number" },
                        UrlForEdit: { field: "UrlForEdit", type: "string" }
                    },
					expanded: true
				}
			}
		});
        $("#treeList").kendoTreeList({
            dataSource: dataSource,
            selectable: true,
            columns: [
                {
                    field: "GroupName", title: "Имя группы", headerAttributes: {
                        style: "display: none"
                    },
                    attributes: {
                        "class": "col-sm-4"
                    }
                }
            ],
            change: UpdateMainContent
        });

        $("#treeList").data("kendoTreeList").dataSource.filter({ field: "TourId", operator: "equals", value: @ViewBag.TourId });

        $('#mainContent').load('@Url.Action("TourSubCard", "Tour", new {tourId = ViewBag.TourId })');

    });

    function UpdateMainContent() {
        var treeList = $("#treeList").data("kendoTreeList");
        var row = treeList.select();
        if (row.length > 0) {
            var data = treeList.dataItem(row);
            $('#mainContent').load(data.UrlForEdit);
        }
    }

    function ShowTourAdditionModal() {
        var dial = $("#tourAdditionModal");
        if (!dial.data("kendoWindow")) {
            dial.kendoWindow({
                visible: false,
                resizable: false,
                modal: true
            }).data("kendoWindow").center();
        }
        dial.data("kendoWindow").open();
    }

    function UpdateTour(isAddition) {
        kendo.ui.progress($('body'), true);
        var data = !isAddition
            ? {
                id: $('input.edit-input-id-hidden').val(),
                year: $('input.edit-input').val()
            } : {
                id: -1,
                year: $('input.add-input').val()
            }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("TourEstimates", "Tour")',
            data: data,
            success: function (response) {
                $("#tourAdditionModal").data("kendoWindow").close();
                Common.ShowMessage(response.Success);
                window.parent.location.reload(); 
            },
            error: function (response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('body'), false);
            }
        });
    }

</script>

@section styles {
    <style>
        .flex-content {
            display: flex;
            height: 100%;
        }

        .flex-tree-list {
            margin: 10px;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            align-items: stretch;
        }

        .flex-list-buttons {
            margin: 10px;
        }

        button {
            width: 10rem;
            margin-bottom: 5px !important;
        }

        .tour p:hover {
            background: #eaeef7;
        }

        .tour p {
            padding: 5px;
        }

        #treeList {
            height: 100%;
            /*overflow: auto;*/
        }

        .selected {
            background: #eaeef7;
        }

        .control-label {
            margin-bottom: 0px;
            font-weight: normal;
            vertical-align: sub;
        }
    </style>
}