@using Newtonsoft.Json;
@using CIPJS.Models.InputFilePackage;

@model List<InputFilePackageProcessOkrugDto>

@{ 
    int okrugOrdinal = 0;
}

<div id="process-okrug-toolbar"></div>
<div class="form-horizontal col-sm-12">
    <h5>Внимание! В рамках обработки округа (округов) будут произведены следующие операции:</h5>
    @foreach (InputFilePackageProcessOkrugDto okrug in Model)
    {
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-12">
                Округ @(++okrugOrdinal) - @okrug.OkrugName
            </div>
            <div class="col-sm-12">
                Обработаны файлы с начислениями в статусе "Загружен" в кол-ве @okrug.LoadNachCount
            </div>
            <div class="col-sm-12">
                Установлена связь между зачислениями МФЦ и банковскими строками оплат и обработаны файлы с зачислениями в кол-ве @okrug.LoadPlatCount
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var inputFilePackageIds = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x => x.Id).ToArray()));

    $(document).ready(function () {
        $('#process-okrug-toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Обработать округ',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();

                        if (inputFilePackageIds == undefined
                            || inputFilePackageIds == null
                            || inputFilePackageIds.length == 0) {
                            Common.ShowError('Необходимо выбрать хотя бы одну строку округа');
                            return;
                        }

                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ProcessOkrug", "InputPackageFile")',
                            data: JSON.stringify(inputFilePackageIds),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.UI.CloseWindow('registerModalWindow', window.parent);
                                }
                            }
                        });
                    }
                }
            ]
        });
    });
</script>
