@using CIPJS.Controllers

<script id="metroAutoCompleteTemplate" type="text/x-kendo-template">
    <div>
        <div class="metroAutoCompleteMetro">
            <div style="white-space: nowrap">
                <span class="metroAutoCompletePoint" style='background-color:#: lineColor #'></span>
                <span>#: name #</span>
            </div>
        </div>
        <div class="metroAutoCompleteLine">
            <span>#: lineName #</span>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="CheckboxTemplate">
    <div unselectable="on" class='k-item nowrap check-item #= Id === "" ? "prefilterDropdownfirstItem" : "" #'>
        <input type="checkbox" name="#= Name #" value="#= Id #" class="check-input" />
        <span>#= Name #</span>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var metroDataSource = new kendo.data.DataSource({
            transport: {
                read: function(options) {
                    $.ajax({
                        url: "https://api.hh.ru/metro/1",
                        dataType: "jsonp",
                        success: function (result) {
                            var source = $.map(result.lines, function (item) {
                                var res = [];
                                for (let i = 0; i < item.stations.length; i++) {
                                    var point = {
                                        name: item.stations[i].name,
                                        lineName: item.name,
                                        lineColor: '#' + item.hex_color
                                    }
                                    res.push(point);
                                }
                                return res;
                            });

                            options.success(source);
                        },
                        error: function(result) {
                            options.error(result);
                        }
                    });
                }
            }
        });

        $("#searchToolbar").kendoToolBar({
            resizable: false,
            items: [
                {
                    template: "<input id='dealTypeDropdown'/>"
                },
                {
                    template: "<input id='marketSegmentDropdown'/>"
                },
                {
                    template: "<input id='propertyTypeDropdown'/>"
                },
                {
                    template: "<input id='priceFromInput' placeholder='от' autocomplete='off'/>"
                },
                {
                    template: "<input id='priceToInput' placeholder='до' autocomplete='off'/>"
                },
                {
                    template: "<input id='addressInput' type='text' placeholder='Метро' autocomplete='off' style='width: 100%;'/>"
                }
            ]
        });

        $("#marketSegmentDropdown").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            template: $("#CheckboxTemplate").html(),
            dataSource: {
                transport: {
                    read: function(options) {
                        $.ajax({
                            url: '@Url.Action("MarketSegmentList", "Prefilter")',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function (result) {
                                result.unshift({ Name: "[Выбрать все]", Id: "" });
                                options.success(result);
                            },
                            error: function(result) {
                                options.error(result);
                            }
                        });
                    }
                }
            },
            dataBound: marketSegmentDropdownDataBound,
            select: function (e) {
                e.preventDefault();
            }
        });

        $("#dealTypeDropdown").kendoDropDownList({
            value: "@Model.",
            dataTextField: "Name",
            dataValueField: "Id",
            template: $("#CheckboxTemplate").html(),
            dataSource: {
                transport: {
                    read: function(options) {
                        $.ajax({
                            url: '@Url.Action("DealTypeList", "Prefilter")',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function (result) {
                                result.unshift({ Name: "[Выбрать все]", Id: "" });
                                options.success(result);
                            },
                            error: function(result) {
                                options.error(result);
                            }
                        });
                    }
                }
            },
            dataBound: dealTypeDropdownDataBound,
            select: function (e) {
                e.preventDefault();
            }
        });

        $("#propertyTypeDropdown").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            template: $("#CheckboxTemplate").html(),
            dataSource: {
                transport: {
                    read: function(options) {
                        $.ajax({
                            url: '@Url.Action("PropertyTypeList", "Prefilter")',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function(result) {
                                result.unshift({ Name: "[Выбрать все]", Id: "" });
                                options.success(result);
                            },
                            error: function(result) {
                                options.error(result);
                            }
                        });
                    }
                }
            },
            dataBound: propertyTypeDropdownDataBound,
            select: function(e) {
                e.preventDefault();
            }
        });

        $("#priceFromInput").kendoNumericTextBox({
            format: "c0",
            min: 0,
            decimals: 0,
            spinners: false
        });
        $("#priceToInput").kendoNumericTextBox({
            format: "c0",
            min: 0,
            decimals: 0,
            spinners: false
        });

        $("#addressInput").kendoAutoComplete({
            enforceMinLength: true,
            minLength: 1,
            dataSource: metroDataSource,
            dataTextField: "name",
            clearButton: false,
            template: kendo.template($("#metroAutoCompleteTemplate").html())
        });

        $("#searchButton").kendoButton({
            enable: $("#prefilterForm").valid,
            click: searchButtonClick
        });

        $("#mapButton").kendoButton({
            enable: $("#prefilterForm").valid,
            icon: "search",
            click: mapButtonClick
        });
    });

    function dealTypeDropdownDataBound(e) {
        addItemHandlers(e, $("#dealTypeDropdown").data("kendoDropDownList"), "Тип сделки");
    }

    function marketSegmentDropdownDataBound(e) {
        addItemHandlers(e, $("#marketSegmentDropdown").data("kendoDropDownList"), "Сегмент рынка");
    }

    function propertyTypeDropdownDataBound(e) {
        addItemHandlers(e, $("#propertyTypeDropdown").data("kendoDropDownList"), "Тип объекта");
    }

    function searchButtonClick(e) {
        сonfigureSearchFilter(e, "/RegistersView/MarketObjects");
    }

    function mapButtonClick(e) {
        сonfigureSearchFilter(e, '@Url.Action("Index", "Map")');
    }

    function addItemHandlers(e, dropdownData, label) {
        dropdownData.list.find(".check-input,.check-item").bind("click", function(e) {
            var $item = $(this);
            var $input;

            if ($item.hasClass("check-item")) {
                $input = $item.children(".check-input");
                $input.prop("checked", !$input.is(':checked'));
            } else {
                $input = $item;
            }

            if ($input.val() == "") {
                dropdownData.list.find(".check-input").prop("checked", $input.is(':checked'));
            }

            updateDropDown(dropdownData, label);
            e.stopImmediatePropagation();
        });

        updateDropDown(dropdownData, label);
    }

    function updateDropDown(dropdownData, label)
    {
        var items= [];
        dropdownData.list.find(".check-input").each(function() {
            var $input = $(this);
            if($input.val() != "" && $input.is(':checked'))
                items.push($input.next().text());
        });

        $(dropdownData.list.find(".check-input")[0])
            .prop("checked", items.length === dropdownData.list.find(".check-input").length - 1);

        if (items.length > 0) {
            dropdownData.text(label + ": " + items.join(", "));
        } else {
            dropdownData.text(label);
        }
    }

    function сonfigureSearchFilter(e, newWindowLocation) {
        Common.ClearNotification();
        kendo.ui.progress($('#prefilter'), true);
        var marketIds = $.map($("#marketSegmentDropdown").data("kendoDropDownList").list.find(".check-input:checked"), function (item) {
            return item.value;
        });
        var dealTypeIds = $.map($("#dealTypeDropdown").data("kendoDropDownList").list.find(".check-input:checked"), function (item) {
            return item.value;
        });
        var propertyIds = $.map($("#propertyTypeDropdown").data("kendoDropDownList").list.find(".check-input:checked"), function (item) {
            return item.value;
        });
        var priceFrom = $("#priceFromInput").val();
        var priceTo = $("#priceToInput").val();
        var metro = $("#addressInput").data("kendoAutoComplete").value();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ConfigureSearchFilter", "Prefilter")',
            data: {
                marketSegmentItemIds: marketIds,
                dealTypeItemIds: dealTypeIds,
                propertyTypeItemIds: propertyIds,
                priceFrom: priceFrom,
                priceTo: priceTo,
                metro: metro
            },
            success: function (response) {
                kendo.ui.progress($('#prefilter'), false);
                window.location = newWindowLocation;
            },
            error: function (response) {
                Common.ShowError(response.responseText);
                kendo.ui.progress($('#prefilter'), false);
            }
        });
    }
</script>

<form>
    <div id="prefilter">
        <div>
            <div id="searchToolbar" style="display: flex;flex-wrap: wrap;"></div>
        </div>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <button id="searchButton" type="button" style="float: right; margin-top: .4em;">Найти</button>
                <button id="mapButton" type="button" style="float: right; margin-top: .4em; margin-right: .4em">Показать на карте</button>
            </div>
        </div>
    </div>
</form>

