@using Platform.Web.Models.Account;
@model LoginDto

<style type="text/css">
    body {
        background-color: whitesmoke;
    }

    #loginPage .logo {
        padding: 0px;
        width: 480px;
        height: 575px;
        border: 2px solid #6E6E6E;
        top: 50%;
        left: 50%;
        margin-left: -270px;
        margin-top: -287px;
        position: absolute;
        background-color: #fcfcfc;
        box-sizing: border-box;
        background-color: rgb(225,228,235);
    }

    #loginPage #Title {
        font-size: 18px;
        font-weight: 500;
        font-family: Segoe UI;
    }

    #loginPage label {
        color: #333;
        margin-bottom: auto;
        padding-right: 10px;
    }

    #loginPage td {
        white-space: nowrap;
    }

    #loginPage input[type="password"] {
        margin: 2px 0px;
    }
</style>
<form action="@Url.Action("Login")" method="post" id="loginPage">
    @(Html.AntiForgeryToken())
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div class="logo">
        <img src="~/images/Startpage.png" id="imgLogin" style="width:100%;">
        <div style="text-align: center; padding-top: 10px;">
            <span id="Title" class="rfdAspLabel">Информационная система поддержки программы страхования в жилищной сфере г. Москвы</span>
        </div>
        <div style="text-align:center; color:red">
            @ViewBag.Message
        </div>
        <div class="RadAjaxPanel" id="MainPanelPanel" style="display: block;">
            <div id="MainPanel">
                <div id="divLogin">
                    <table class="rfdLoginControl" cellspacing="0" cellpadding="4" id="Login1" style="width:100%;border-width:0px;border-style:Solid;border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellpadding="0" style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <th style="width: 30%;">
                                                </th>
                                                <th style="width: 60%;">
                                                </th>
                                                <th style="width: 10%;">
                                                </th>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td style="display:none"></td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td align="right">
                                                    <label for="Login1_UserName">Пользователь:</label>
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(x => x.UserName, new { @class = "k-textbox", style = "width: 100%;" })
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td align="right">
                                                    <label for="Login1_Password">Пароль:</label>
                                                </td>
                                                <td>
                                                    @Html.PasswordFor(x => x.Password, new { @class = "k-textbox", style = "width: 100%;" })
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td colspan="3" style="text-align:center;">
                                                    @Html.ValidationMessage("UserName", "", new { style = "width:100%;color:red;" })
                                                    @Html.ValidationMessage("Password", "", new { style = "width:100%;color:red;" })
                                                    <span style="color:red;">@ViewBag.message</span>
                                                </td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td align="right" colspan="2">
                                                    <a href="javascript:void(0)" class="rfdSkinnedButton">
                                                        <input type="submit" value="Вход" class="k-button" tabindex="-1">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#UserName').focus();
    });
</script>