@using ObjectModel.Sud

@model KadOzenka.Web.Models.Sud.CourtLinkModel

@using (Html.BeginForm("EditCourtLink", "Sud", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.SudId)
	@Html.HiddenFor(m => m.ObjectId)
	<div class="form-horizontal col-sm-12">
		<div class="form-group"></div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor("Судебное решение", true)
			</div>
			<div class="col-sm-10">
				@Html.PlatformAutoCompleteWithEditButtonFor(m => m.SudNumber, "Value", "Sud", "GetAutoCompleteCourt", "clearEvent", "searchCourt", "selectEvent", "editCourt", "addCourt", isAdditionalButton: true, isReadonly: false)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Rs)
			</div>
			<div class="col-sm-4">
				@Html.KendoNumericTextBoxFor(m => m.Rs, 2, isReadonly: false)
			</div>
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Uprs)
			</div>
			<div class="col-sm-4">
				@Html.KendoNumericTextBoxFor(m => m.Uprs, 2, isReadonly: false)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Use)
			</div>
			<div class="col-sm-10">
				@Html.TextAreaFor(m => m.Use, 5, 0, new {@class = "k-textbox", @style = "width: 100%; resize: none; padding: 10px;"})
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Description)
			</div>
			<div class="col-sm-10">
				@Html.TextAreaFor(m => m.Description, 5, 0, new {@class = "k-textbox", @style = "width: 100%; resize: none; padding: 10px;"})
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button disabled="@(!Model.IsEditCourtLink)" style="float: right" id="save" class="k-button" type="button">Сохранить</button>
			</div>
		</div>
	</div>
}

<script type="text/javascript">
	function selectEvent() {
		$('#@Html.IdFor(m => m.SudId)').val(this.e.dataItem.Id);
	}

	function clearEvent() {
		$('#@Html.IdFor(m => m.SudId)').val(-1);
	}

		function updateCourtNumber(idCourt) {
			kendo.ui.progress($('body'), true);
			$('[name="SudId"]').val(idCourt);
		$.ajax({
			type: 'GET',
			url: '@Url.Action("GetCourtData", "Sud")',
			data: { 'sudId': idCourt },
			dataType: 'json',
			success: function (response) {
				if (response && !$.isEmptyObject(response) && !$.isEmptyObject(response.data)) {
					$('#@Html.IdFor(m => m.SudNumber)').val(response.data.Value);
				}
				kendo.ui.progress($('body'), false);
			}
		});
	}

	function editCourt() {
		if ($('#@Html.IdFor(m => m.SudId)').val() === '-1') {
			Common.ShowError("Не выбрано решение");
			return;
		}

		var url = '@Url.Action("EditCourt", "Sud")' + `?courtId=${$('#@Html.IdFor(m => m.SudId)').val()}`;
		var container = $('<div></div>').appendTo(document.body);
		kendo.ui.progress(container, true);
		var window = container.kendoWindow({
			title: "Редактирование решения",
			modal: true,
			content: url,
			iframe: true,
			close: function (e) {
				var windowElement = $(this.element);
				var iframeDomElement = windowElement.children("iframe")[0];
				var iframeWindowObject = iframeDomElement.contentWindow;
				var iframejQuery = iframeWindowObject.$;

				var idCourt = iframejQuery('#Id').val();
				if (idCourt === '-1') {
					Common.ShowError("Не выбрано решение");
					this.destroy();
					return;
				}
				updateCourtNumber(idCourt);
				this.destroy();
			}
		}).data('kendoWindow');

		window.center();
		window.open().maximize();
		kendo.ui.progress(container, false);
	}

	function addCourt() {
		var url = '@Url.Action("EditCourt", "Sud")';
		var container = $('<div></div>').appendTo(document.body);
		kendo.ui.progress(container, true);
		var window = container.kendoWindow({
			title: "Создание решения",
			modal: true,
			content: url,
			iframe: true,
			close: function (e) {
				var windowElement = $(this.element);
				var iframeDomElement = windowElement.children("iframe")[0];
				var iframeWindowObject = iframeDomElement.contentWindow;
				var iframejQuery = iframeWindowObject.$;

				var idCourt = iframejQuery('#Id').val();
				if (idCourt === '-1') {
					Common.ShowError("Не выбрано решение");
					this.destroy();
					return;
				}
				updateCourtNumber(idCourt);
				this.destroy();
			}
		}).data('kendoWindow');

		window.center();
		window.open().maximize();
		kendo.ui.progress(container, false);
	}

	function searchCourt() {
		var contentUrl = '@Url.Action("SudReshSelect", "RegistersView")';
		var title = 'Выбор судебных решений';

		var callbackFn = function (item) {
			kendo.ui.progress($('body'), true);
			$('[name="SudId"]').val(item.ID);
			$.ajax({
				type: 'GET',
				url: '@Url.Action("GetCourtData", "Sud")',
				data: { 'sudId': item.ID },
				dataType: 'json',
				success: function (response) {
					if (response && !$.isEmptyObject(response)) {
						console.log('response', response);
						$('#@Html.IdFor(m => m.SudNumber)').val(response.data.Value);
					}
					kendo.ui.progress($('body'), false);
				}
			});
		}
		Common.UI.ChooseWindow(title, contentUrl, callbackFn, 'Grid-@OMSud.GetRegisterId()');
	}

	$(document).ready(function () {

		$('#@Html.IdFor(m => m.SudNumber)').on('blur', function () {
			if ($('#@Html.IdFor(m => m.SudNumber)').val() === "") {
				$('#@Html.IdFor(m => m.SudId)').val(-1);
				return;
			}

			if ($('#@Html.IdFor(m => m.SudId)').val() === "-1" || $('#@Html.IdFor(m => m.SudId)').val() === "") {
				$('#@Html.IdFor(m => m.SudNumber)').val("");
			}
		});


		$('#save').on('click',
			function() {
				var form = $('form');
				var formObject = Common.Functions.FormToObject(form);
				kendo.ui.progress($('body'), true);

				$.post(form.attr('action'), formObject).done(function(response) {
					kendo.ui.progress($('body'), false);
					if (response.Errors) {
						var errors = $.map(distinctErrors(response.Errors),
							function(el) {
								return el.Message;
							});
						Common.ShowError(errors);
						return;
					}
					if (response.Success && response.data) {
						$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
						Common.ShowMessage(response.Success);
					}
				});
			});
	});

	function distinctErrors(errors) {
		var result = [];
		$.each(errors, function(index, event) {
			var events = $.grep(result, function (e) {
				return event.Message === e.Message;
			});
			if (events.length === 0) {
				result.push(event);
			}
		});

		return result;
	}

	$(document).ready(function () {
		if ("@Model.IsEditCourt" === "False") {
			$(`.edit-button-${"@Html.IdFor(m => m.SudNumber)"}`).off('click').attr('disabled', true);
			$(`.add-button-${"@Html.IdFor(m => m.SudNumber)"}`).off('click').attr('disabled', true);
		}
	});
</script>