@using KadOzenka.Web.Models.Sud;

@model KadOzenka.Web.Models.Sud.CourtModel

@using (Html.BeginForm("EditCourt", "Sud", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
	<div class="form-horizontal col-sm-12">
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Name)
			</div>
			<div class="col-sm-10">
				@Html.TextAreaFor(m => m.Name, 5, 0, new { @class = "k-textbox", @style = "width: 100%; resize: none;padding: 10px" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Number)
			</div>
			<div class="col-sm-10">
				@Html.TextBoxFor(m => m.Number, new { @class = "k-textbox", @style = "width: 100%;" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Date)
			</div>
			<div class="col-sm-10">
				@Html.KendoDatePickerFor(m => m.Date, isReadonly: false)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.SudDate)
			</div>
			<div class="col-sm-10">
				@Html.KendoDatePickerFor(m => m.SudDate, isReadonly: false)
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabelFor(m => m.Status)
			</div>
			<div class="col-sm-10">
				@(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatusEnum.None.GetEnumDescription()).Value((long)CourtStatusEnum.None))
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				@(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatusEnum.Denied.GetEnumDescription()).Value((long)CourtStatusEnum.Denied))
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				@(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatusEnum.Satisfied.GetEnumDescription()).Value((long)CourtStatusEnum.Satisfied))
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				@(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatusEnum.Paused.GetEnumDescription()).Value((long)CourtStatusEnum.Paused))
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				@(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatusEnum.PartiallySatisfied.GetEnumDescription()).Value((long)CourtStatusEnum.PartiallySatisfied))
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button style="float: right" id="save" type="button">Сохранить</button>
			</div>
		</div>
	</div>
}

<script type="text/javascript">
	$(document).ready(function() {
		$('#save').on('click',
			function () {
				debugger;
				kendo.ui.progress($('body'), true);
				debugger;
				var form = $('form');
				var formObject = Common.Functions.FormToObject(form);

				$.post(form.attr('action'), formObject).done(function (response) {
					kendo.ui.progress($('body'), false);
					if (response.Errors) {
						var errors = $.map(distinctErrors(response.Errors),
							function(el) {
								return el.Message;
							});
						Common.ShowError(errors);
						return;
					}

					if (response.Success && response.data) {
						$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
						Common.ShowMessage(response.Success);
					}
				});
			});
	});

	function distinctErrors(errors) {
		var result = [];
		$.each(errors, function(index, event) {
			var events = $.grep(result, function (e) {
				return event.Message === e.Message;
			});
			if (events.length === 0) {
				result.push(event);
			}
		});

		return result;
	}
</script>