@using KadOzenka.Dal.Enum
@model KadOzenka.Web.Models.Sud.EditApprovalObjectModel

@using (Html.BeginForm("EditApprovalObject", "Sud", FormMethod.Post))
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Kn)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Kn, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Kn.GetEnumDescription(), isActual = Model.Kn != null }
                    , isReadonly: Model.Kn != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Date)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Date, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Date.GetEnumDescription(), isActual = Model.Date != null }, isReadonly: Model.Date != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Square)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Square, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Square.GetEnumDescription(), isActual = Model.Square != null }, isReadonly: Model.Square != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Kc)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Kc, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Kc.GetEnumDescription(), isActual = Model.Kc != null }, isReadonly: Model.Kc != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.TypeObj)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.TypeObj, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.TypeObj.GetEnumDescription(), isActual = Model.TypeObj != null }, isReadonly: Model.TypeObj != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Adres)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Adres, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Adres.GetEnumDescription(), isActual = Model.Adres != null }, isReadonly: Model.Adres != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.NameCenter)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.NameCenter, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.NameCenter.GetEnumDescription(), isActual = Model.NameCenter != null }, isReadonly: Model.NameCenter != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.StatDgi)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.StatDgi, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.StatDgi.GetEnumDescription(), isActual = Model.StatDgi != null }, isReadonly: Model.StatDgi != null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Owner)
            </div>
            <div class="col-sm-10">
                @Html.KendoDropDownListFor(m => m.Owner, "GetApprovalFieldData", "Sud", 
                    new { objectId = Model.ObjectId, paramName = ParamNameEnum.Owner.GetEnumDescription(), isActual = Model.Owner != null }, isReadonly: Model.Owner != null)
            </div>
        </div>
        <div class="form-group">
            <div class="k-content col-sm-12">
                <div id="tabstrip">
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            value: "Отчеты",
            dataTextField: "Name",
            dataContentField: "Content",
            dataContentUrlField: "ContentUrl",
            dataSource: [
                { Name: "Отчеты", ContentUrl: "@Url.Action("GetReportContent", "Sud")"},
                { Name: "Заключения", ContentUrl: "@Url.Action("GetConclusionContent", "Sud")" },
                { Name: "Решения", ContentUrl: "@Url.Action("GetCourtContent", "Sud")"}
            ]
        });

    });
</script>
