@using ObjectModel.Directory.Sud;
@using Platform.Web.Models.CoreAttachment

@model KadOzenka.Web.Models.Sud.CourtModel

@section styles{
	<style>
		.hidden {
			display: none;
		}
	</style>
}

@using (Html.BeginForm("EditCourt", "Sud", FormMethod.Post))
{
	@Html.HiddenFor(m => m.Id)
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                <a style="float: right" href="/Help/Help?CurrentLocation=AddEditSudResh" target="_blank">
                    <span style="font-size: 20px;" class="k-icon k-i-question"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Name)
            </div>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Name, 5, 0, new {@class = "k-textbox", @style = "width: 100%; resize: none;padding: 10px"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Number)
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Number, new {@class = "k-textbox", @style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Date)
            </div>
            <div class="col-sm-10">
                @Html.KendoDatePickerFor(m => m.Date, isReadonly: false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.SudDate)
            </div>
            <div class="col-sm-10">
                @Html.KendoDatePickerFor(m => m.SudDate, isReadonly: false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.AppealNumber)
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.AppealNumber, new {@class = "k-textbox", @style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.ArchiveNumber)
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.ArchiveNumber, new {@class = "k-textbox", @style = "width: 100%;"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Status)
            </div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatus.None.GetEnumDescription()).Value((long) CourtStatus.None))
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatus.Denied.GetEnumDescription()).Value((long) CourtStatus.Denied))
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatus.Satisfied.GetEnumDescription()).Value((long) CourtStatus.Satisfied))
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatus.Paused.GetEnumDescription()).Value((long) CourtStatus.Paused))
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label(CourtStatus.PartiallySatisfied.GetEnumDescription()).Value((long) CourtStatus.PartiallySatisfied))
            </div>
        </div>
        <div class="form-group">
            <div class="attachment-court @(Model.Id == -1 ? "hidden" : "")">
                @await Html.PartialAsync("~/Views/CoreAttachment/AttachPartialGrid.cshtml",
                    new AttachmentPartialModel {ObjectId = (int) Model.Id, RegisterId = Model.RegisterId})
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button disabled="@(!Model.IsEditCourt)" style="float: right" id="save" class="k-button" type="button">Сохранить</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
	$(document).ready(function() {
		$('#save').on('click',
			function () {
				debugger;
				kendo.ui.progress($('body'), true);
				debugger;
				var form = $('form');
				var formObject = Common.Functions.FormToObject(form);

				$.post(form.attr('action'), formObject).done(function (response) {
					kendo.ui.progress($('body'), false);
					if (response.Errors) {
						var errors = $.map(distinctErrors(response.Errors),
							function(el) {
								return el.Message;
							});
						Common.ShowError(errors);
						return;
					}

					if (response.Success && response.data) {
						var oldId = $('#@Html.IdFor(m => m.Id)').val();
						$('#@Html.IdFor(m => m.Id)').val(response.data.Id);
						$('.attachment-court').removeClass('hidden');

						//uploadData - объект из частичного представления AttachPartialGrid
						if (uploadData && oldId === '-1') {
							uploadData.setObjectId(response.data.Id);
							var grid = $('#AttachmentGrid').data('kendoGrid');
							var url = grid.dataSource.transport.options.read.url.replace('objectId=-1', `objectId=${response.data.Id}`);
							grid.dataSource.transport.options.read.url = url;
						}

						Common.ShowMessage(response.Success);
					}
				});
			});
	});

	function distinctErrors(errors) {
		var result = [];
		$.each(errors, function(index, event) {
			var events = $.grep(result, function (e) {
				return event.Message === e.Message;
			});
			if (events.length === 0) {
				result.push(event);
			}
		});

		return result;
	}
</script>