@using CIPJS.Controllers

@model DashboardDtoTest

@{
    ViewData["Title"] = "Test Page";
}

<h1>Test Page</h1>
<div>
    @(Html.Kendo().ToolBar().Name("ToolBar").Items(items =>
                        {
                            items.Add().Icon("check").Type(CommandType.Button).Text("Сохранить").Click("toolbarClick");
                        })
    )

    @using (Html.BeginForm("SaveDataTest", "Test", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.LayoutType)
        @Html.HiddenFor(m => m.CopyId)
        <div class="form-wrapper">
            <div id="base-information" class="card-block show">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "k-textbox" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Description, new { @class = "k-textbox" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.IsCommon, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-1">
                        @(Html.Kendo().CheckBox().Name("IsCommon").Checked(Model.IsCommon))
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toolbarClick(e) {
        Common.ClearNotification();
        kendo.ui.progress($('body'), true);

        var form = $('form');

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                Common.ShowMessage('Операция успешно выполнена: ' + response);

                kendo.ui.progress($('body'), false);
            }, error: function (response) {
                Common.ShowError(response.responseText);
                kendo.ui.progress($('body'), false);
            }
        });
    }
</script>
