@model KadOzenka.Web.Models.Declarations.DeclarationTabModel.DeclarationNotificationModel

<div style="height: auto">
	<div class="form-horizontal col-sm-12">
		<div class="form-group"></div>
		<div class="ajax-data-loading" data-request-type="GET" data-url="@Url.Content("~/RegistersView/DeclarationsUved?Transition=1&50600200="+ @Model.DeclarationId)"
		     data-param-DeclarationsDeclarationId="@Model.DeclarationId" data-param-Pageable="false" data-param-Scrollable="true" 
		     data-param-DeclarationsEditApproveNotifications="@Model.IsEditApproveNotifications" data-param-DeclarationsEditOtherNotifications="@Model.IsEditOtherNotifications" data-param-usespd="@ViewBag.UseSpd"
			 data-param-partialview="true" data-loader="true" data-onsuccess="resizeGrid506"></div>
		<div class="form-group"></div>
	</div>
</div>


<script>
	$(function() {
		$('.ajax-data-loading').ajaxDataLoader();
	});

</script>