@model KadOzenka.Web.Models.Tour.TourModel

<div id="toolbar"></div>
<div class="form-horizontal col-sm-12" style="margin-top: 10px">
    <div class="form-group col-sm-12">
        <div style="padding-top: 2%;">
            <div id="groupFactorsToolbar"></div>
        </div>

        <div style="display: flex;">
            <div style="align-items: stretch">
                <div id="groupFactorsGrid"></div>
            </div>
        </div>
    </div>
    @*<div style="padding-top: 2%;">
        <div id="factorToolbar"></div>
    </div>
    <div style="display: flex;">
        <div style="align-items: stretch">
            <div id="grid"></div>
        </div>
    </div>*@
</div>

<script>
    $(document).ready(function () {
        $('#groupFactorsToolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    id: 'add-group-factor',
                    text: '',
                    attributes: { title: "Добавить" },
                    icon: 'add'
                },
                {
                    type: 'button',
                    id: 'edit-group-factor',
                    text: '',
                    attributes: { title: "Изменить" },
                    icon: 'edit'
                },
                {
                    type: 'button',
                    id: 'remove-group-factor',
                    text: '',
                    attributes: { title: "Удалить" },
                    icon: 'delete'
                },
                {
                    type: 'button',
                    id: 'show-group-marks',
                    text: '',
                    attributes: { title: "Метки" },
                    icon: 'clock'
                },
                {
                    type: 'button',
                    id: 'upload-group-marks-catalog',
                    text: '',
                    attributes: { title: "Загрузить справочник меток" },
                    icon: 'upload'
                },
                {
                    type: 'button',
                    id: 'download-group-marks-catalog',
                    text: '',
                    attributes: { title: "Выгрузить справочник меток" },
                    icon: 'download'
                }
            ]
        });
        $(".k-toolbar [title]").kendoTooltip({
            position:"top"
        });

        var gridDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetGroupFactors", "Tour")',
                    contentType: 'application/json; charset=utf-8',
                    data: { groupId: @((long)ViewBag.GroupId) },
                    dataType: 'json'
                }
            }
        });
        $('#groupFactorsGrid').kendoGrid({
            dataSource: gridDataSource,
            columns: [
                {
                    field: 'FactorName', title: 'Фактор', width: "40%"
                }, {
                    field: 'SignMarket', title: 'Метка', template: "#=SignMarket ? 'Да' : 'Нет'#"
                }
            ],
            width: '100%',
            scrollable: true,
            selectable: true,
        });

        $('#groupFactorsGrid').data("kendoGrid").tbody.kendoTooltip({
            filter: "td",
            content: function (e) {
                return e.target.text();
            },
            position: "top",
            autoHide: true,
            showAfter: 500
        });


        $("#groupFactorsGrid").data("kendoGrid").bind('change', GridChanged);
        function GridChanged() {
            var grid = $("#groupFactorsGrid").data("kendoGrid");
            var row = grid.select();
            if (row.length == 0) {
                $('#edit-group-factor').addClass('k-state-disabled');
                $('#remove-group-factor').addClass('k-state-disabled');
                $('#show-group-marks').addClass('k-state-disabled');
                $('#download-group-marks-catalog').addClass('k-state-disabled');
                $('#upload-group-marks-catalog').addClass('k-state-disabled');
            }
            else {
                $('#edit-group-factor').removeClass('k-state-disabled');
                $('#remove-group-factor').removeClass('k-state-disabled');
                $('#show-group-marks').removeClass('k-state-disabled');
                $('#download-group-marks-catalog').removeClass('k-state-disabled');
                $('#upload-group-marks-catalog').removeClass('k-state-disabled');
            }
        }

        $('#edit-group-factor').addClass('k-state-disabled');
        $('#remove-group-factor').addClass('k-state-disabled');
        $('#show-group-marks').addClass('k-state-disabled');
        $('#download-group-marks-catalog').addClass('k-state-disabled');
        $('#upload-group-marks-catalog').addClass('k-state-disabled');

        $('#add-group-factor').on('click', function () {
            Common.UI.ShowWindow('Редактирование фактора',
                '@Url.Action("EditGroupFactor", "Tour")' + '?groupId=@((long)ViewBag.GroupId)',
                'editGroupFactorWindow',
                function (e, param) {
                        if (param == true) {
                            UpdateMainContent();
                        }
                    },
                800, 300);
        });

        $('#edit-group-factor').on('click', function () {
            var grid = $("#groupFactorsGrid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);
                Common.UI.ShowWindow('Редактирование фактора',
                    '@Url.Action("EditGroupFactor", "Tour")' + '?id=' + data.Id + '&groupId=@((long)ViewBag.GroupId)',
                    'editGroupFactorWindow',
                    function (e, param) {
                        if (param == true) {
                            UpdateMainContent();
                        }
                    },
                    800, 300
                );
            }
        });

        $('#remove-group-factor').on('click', function () {
            var grid = $("#groupFactorsGrid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);
                Common.UI.ShowConfirm({
                    title: '',
                    content: 'Удалить фактор?',
                    onSuccess: function () {
                        kendo.ui.progress($('body'), true);
                        $.ajax({
                            url: '@Url.Action("DeleteGroupFactor","Tour")',
                            type: 'POST',
                            data: { id: data.Id },
                            success: function (response) {
                                kendo.ui.progress($('body'), false);
                                if (response.Success) {
                                    Common.ShowMessage(response.Success);
                                    UpdateMainContent();
                                }
                            },
                            error: function (response) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(response.responseText);
                            }
                        });
                    }
                });
            }
        });

        $('#show-group-marks').on('click', function () {
            var grid = $("#groupFactorsGrid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);
                var groupId = '@((long)ViewBag.GroupId)';
                var factorId = data.FactorId;
                Common.UI.ShowWindow('Метки',
                    '@Url.Action("MarksGrid", "Tour")' + '?groupId=' + groupId + '&factorId=' + factorId,
                    'editGroupFactorWindow',
                    function (e) {},
                    800, 400);
            }
        });
    });

</script>

