@model KadOzenka.Web.Models.ManagementDecisionSupport.PreviousToursConfigurationModel

<div class="form-horizontal col-sm-12">
    @using (Html.BeginForm("GetPreviousToursReportReport", "ManagementDecisionSupport", FormMethod.Post, htmlAttributes: new { id = "getReportForm" }))
    {
        foreach (var tour in Model.AvailableTours)
        {
            <div id="checkboxes">
                <label>
                    <input type="checkbox" id="@tour.Value" value="@tour.Value" />
                    <label for="@tour.Value">@tour.Text</label>
                </label>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-3">
                @Html.CustomLabelFor(m => m.SelectedTasks)
            </div>
            <div class="col-sm-9">
                <div id="taskFilterForReport"></div>
            </div>
        </div>

        <div id="groupBlock" class="form-group">
            <div class="col-sm-3">
                @Html.CustomLabelFor(x => x.GroupId)
            </div>
            <div class="col-sm-9">
                <div id="groupFilterForReport"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
                <input type="button" id="getReportBtn" class="k-button" value="Сформировать" />
            </div>
        </div>
    }
</div>



<script src="~/js/common-modals.js"></script>
<script src="~/js/custom-validation.js" charset="utf-8"></script>
<script type="text/javascript">

    $(document).ready(function() {
        var taskMultiSelect = initTasks();
        taskMultiSelect.bind("change", initGroups);
        initGroups();

        $('#checkboxes input[type="checkbox"]').each(function() {
            $(this).change(initTasks);
        });

        $("#getReportBtn").click(processReport);
    });



    function initTasks() {
        var tourIds = getCheckedTours();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetTasksByTours", "Task")',
                    data: { tourIds: tourIds},
                    dataType: 'json',
                    traditional: true
                }
            }
        });
        var tasks = $('#taskFilterForReport').data("kendoMultiSelect");
        if (tasks) {
            tasks.setDataSource(dataSource);
        }
        else {
            tasks = $('#taskFilterForReport').kendoMultiSelect({
                dataTextField: 'Text',
                dataValueField: 'Value',
                dataSource: dataSource,
                filter: "contains"
            }).data("kendoMultiSelect");
        }
        return tasks;
    }


    function initGroups() {
        var taskIds = getSelectedTasks();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetSortedGroupsWithNumbersByTasks", "Tour")',
                    data: { taskIds: taskIds},
                    dataType: 'json',
                    traditional: true
                }
            }
        });
        var element = $('#groupFilterForReport').data("kendoDropDownList");
        if (element) {
            element.setDataSource(dataSource);
        }
        else {
            $('#groupFilterForReport').kendoDropDownList({
                dataTextField: 'Text',
                dataValueField: 'Value',
                optionLabel: " ",
                dataSource: dataSource,
                filter: "contains"
            });
        }
    }


    function getCheckedTours() {
        var checkedTours = [];
        $('#checkboxes input:checked').each(function() {
            checkedTours.push($(this).val());
        });
        return checkedTours;
    }


    function getSelectedTasks() {
        return $("#taskFilterForReport").data("kendoMultiSelect").value();
    }


    function processReport() {
        var form = $('#getReportForm');
        var formObject = Common.Functions.FormToObject(form);
        formObject.GroupId = $("#groupFilterForReport").data("kendoDropDownList").value();
        formObject.SelectedTasks = getSelectedTasks();
        kendo.ui.progress($('#getReportForm'), true);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: formObject,
            traditional: true,
            success: function (response) {
                if (response.Errors) {
                    var errors = getErrors(response.Errors);
                    Common.ShowError(errors);
                    return;
                } else {
                    Common.ShowMessage("Процесс добавлен в очередь. Результат будет отправлен на почту.");
                }
            },
            error: function(response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('#getReportForm'), false);
            }
        });
    }
</script>
