@model CIPJS.DAL.ReestrPay.ChangeStatusDto

<style>
    .k-widget.k-dropdown {
        width: 100%;
    }
</style>
<div id="toolbar"></div>
@if (ViewBag.ErrorMessage != null)
{
<div style="padding: 10px;">@ViewBag.ErrorMessage</div>
}
else
{
<form method="post" action="ChangeStatus">
    @foreach (long id in Model.Ids)
    {
        <input type="hidden" name="Ids[]" value="@id" />
    }
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Установить новый статус</label>
            </div>
            <div class="col-sm-4">
                @Html.KendoEnumDropDownListFor(x => x.Status)
            </div>
        </div>
        @if (Model != null && Model.Ids != null && Model.Ids.Count == 1 && Model.NeedFile)
        {
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Загрузить файлы</label>
                </div>
            </div>
            <div class="form-group" id="container-file">
                <input name="File" id="file" type="file" aria-label="file" />
            </div>
        }
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Примечание</label>
            </div>
            <div class="col-sm-10">
                @Html.KendoTextBoxFor(x => x.Note, false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Пользователь</label>
            </div>
            <div class="col-sm-4">
                @Html.KendoTextBoxFor(x => x.UserName)
            </div>
            <div class="col-sm-2">
                <label class="control-label">Дата</label>
            </div>
            <div class="col-sm-4">
                @(Html.Kendo().DatePickerFor(x => x.Date)
                    .Format("dd.MM.yyyy")
                    .Culture("ru-RU")
                    .ParseFormats("ddMMyyyy", "ddMMyy", "dd.MM.yyyy", "dd.MM.yy", "dd/MM/yyyy", "dd/MM/yy"))
            </div>
        </div>
    </div>
</form>
}
<script>
    $(document).ready(function () {
        if ($('#file')) {
            $('#file').kendoUpload({
                multiple: false,
                error: function (e) {
                    Common.ShowError('При загрузке файлов произошла ошибка');
                }
            }).data('kendoUpload');
        }

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Сохранить',
                    icon: 'check',
                    enable: @(ViewBag.ErrorMessage != null ? "false" : "true"),
                    click: function () {
                        @if (ViewBag.ErrorMessage == null)
                        {<text>
                            Common.ClearNotification();
                            kendo.ui.progress($('body'), true);

                            var formData = new FormData($('form').get(0));
                            $.ajax({
                                url: '@Url.Action("ChangeStatus", "ReestrPay")',
                                type: 'POST',
                                processData: false,
                                contentType: false,
                                data: formData,
                                success: function(e) {
                                    kendo.ui.progress($('body'), false);
                                    if (e.Errors && e.Errors.length > 0) {
                                        Common.ShowError(e.Errors.join('<br>'));
                                    } else {
                                        Common.ShowMessage('Операция успешно выполнена');
                                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                                    }
                                },
                                error: function(e) {
                                    kendo.ui.progress($('body'), false);
                                    Common.ShowError(e.responseText);
                                }
                            });
                        </text>}
                    }
                },
                {
                    type: 'button',
                    text: 'Отмена',
                    icon: 'cancel',
                    click: function () {
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });
    });
</script>