@using ObjectModel.Insur;
@using ObjectModel.Directory;
@using Newtonsoft.Json;
@using Core.Shared.Extensions;

@model List<OMInvoiceSvod>

@{
    ReestrPayType reestrPayType = (ReestrPayType)ViewBag.ReestrPayType;
    int? invoiceSvodCount = ViewBag.ErrorMessage == null ? (int?)Model.Count : null;
    decimal? invoiceSvodSum = ViewBag.ErrorMessage == null ? Model.Sum(x => x.SumSvod) : null;
    string windowTitle = ViewBag.ErrorMessage == null ?
        $"Сформировать реестр выплат из {Model.Count} сводных счетов на " +
        $"сумму { (invoiceSvodSum.HasValue ? invoiceSvodSum.Value.ToString("N2").Split(System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator)[0] : "0") } руб. " +
        $"{(invoiceSvodSum.HasValue ? invoiceSvodSum.Value.ToString("N2").Split(System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator)[1] : "00")} коп."
        : "Сформировать реестр выплат";

    string reestrPayUrl = null;
    switch (reestrPayType)
    {
        case ReestrPayType.ReturnBonusOI:
            reestrPayUrl = Url.Content("~/RegistersView/ReestrPaysReturnOI?type=12168003&Transition=1");
            break;
        case ReestrPayType.DamageGP:
            reestrPayUrl = Url.Content("~/RegistersView/ReestrPaysGP?type=12168001&Transition=1");
            break;
        case ReestrPayType.DamageOI:
            reestrPayUrl = Url.Content("~/RegistersView/ReestrPaysOI?type=12168002&Transition=1");
            break;
    }
}
<style>
    #reestrPayGrid td {
        white-space: normal;
        word-wrap: break-word;
    }
</style>
<div id="toolbar"></div>
@if (ViewBag.ErrorMessage != null)
{
    <div style="padding: 10px;">@ViewBag.ErrorMessage</div>
}
else
{
    int ordinal = 0;
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table id="reestrPayGrid">
                        @if (reestrPayType == ReestrPayType.ReturnBonusOI)
                        {
                            <colgroup>
                                <col width="2%" />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-field="Ordinal">№</th>
                                    <th data-field="SubjectName">Получатель</th>
                                    <th data-field="SumOpl">Сумма выплаты</th>
                                    <th data-field="NumInvoice">Номер счета</th>
                                    <th data-field="DateInvoice">Дата счета</th>
                                    <th data-field="Status">Статус счета</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(++ordinal)</td>
                                        <td>@item.SubjectName</td>
                                        <td><div style="text-align:right;">@item.SumSvod?.ToString("N2")</div></td>
                                        <td>@item.NumInvoice</td>
                                        <td>@item.DateInvoice?.ToString("dd.MM.yyyy")</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <colgroup>
                                <col style="width:40px" />
                                <col style="width:20%" />
                                <col style="width:115px" />
                                <col style="width:130px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-field="Ordinal">№</th>
                                    <th data-field="SubjectName">Получатель</th>
                                    <th data-field="SumOpl">Сумма выплаты</th>
                                    <th data-field="Status">Статус счета</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(++ordinal)</td>
                                        <td>@item.SubjectName</td>
                                        <td><div style="text-align:right;">@item.SumSvod?.ToString("N2")</div></td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        
    </div>
}
<script>
    $(document).ready(function () {
        var reestPayUrl = @Html.Raw(JsonConvert.SerializeObject(reestrPayUrl)),
            invoiceSvodSum = @Html.Raw(JsonConvert.SerializeObject(invoiceSvodSum)),
            invoiceSvodCount = @Html.Raw(JsonConvert.SerializeObject(invoiceSvodCount)),
            windowTitle = @Html.Raw(JsonConvert.SerializeObject(windowTitle)),
            currentWindow = Common.UI.GetWindow('registerModalWindow', window.parent);

        if (currentWindow != null && windowTitle != null) {
            currentWindow.title(windowTitle);
        }

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Сформировать',
                    icon: 'check',
                    enable: @(ViewBag.ErrorMessage != null ? "false" : "true"),
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        @if (Model != null && Model.Any())
                        {<text>
                        $.ajax({
                            url: '@Url.Action("FormSvod", "ReestrPay")',
                            type: 'POST',
                            data: '{ Ids: @Json.Serialize(Model.Select(x => x.EmpId).ToList()), Type: "@ViewBag.ReestrPayType" }',
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function(response) {
                                kendo.ui.progress($('body'), false);
                                if (response.Errors && response.Errors.length > 0) {
                                    Common.ShowError(response.Errors.join('<br>'));
                                } else if (response.Data) {
                                    var message = 'Внимание! Сформирован Реестр выплат',
                                        decimalSeparator = kendo.culture().numberFormat["."],
                                        reestrPayId = response.Data.EmpId;

                                    if (response.Data.Num != undefined && response.Data.Num != null && response.Data.Num.length > 0) {
                                        message += ' №<b>' + response.Data.Num + '</b>';
                                    }

                                    if (response.Data.Date != undefined && response.Data.Date != null) {
                                        message += ' от <b>' + kendo.toString(kendo.parseDate(response.Data.Date, 's'), 'dd.MM.yyyy') + '</b>';
                                    }

                                    if (invoiceSvodCount != undefined && invoiceSvodCount != null) {
                                        message += ' включающий в себя <b>' + invoiceSvodCount + '</b> счетов';
                                    }

                                    if (invoiceSvodSum != undefined && invoiceSvodSum != null) {
                                        message += ' на сумму <b>' + kendo.toString(invoiceSvodSum, 'n2').split(decimalSeparator)[0] + ' руб. ' + kendo.toString(invoiceSvodSum, 'n2').split(decimalSeparator)[1] + ' коп.</b> ';
                                    }

                                    var buttons = [];

                                    if (reestPayUrl != null && reestrPayId != undefined && reestrPayId != null) {
                                        buttons.push({
                                            caption: 'Перейти в реестр',
                                            class: 'k-primary',
                                            click: function (e) {
                                                window.top.location.href = reestPayUrl + '&354000100=' + reestrPayId;
                                            }
                                        });
                                    } else {
                                        buttons.push({
                                            caption: 'ОК',
                                            class: 'k-primary',
                                            click: function (e) {
                                                Common.UI.CloseWindow('registerModalWindow', window.parent);
                                            }
                                        });
                                    }

                                    buttons.push({
                                        caption: 'Отмена',
                                        click: function (e) {
                                            Common.UI.CloseWindow('registerModalWindow', window.parent);
                                        }
                                    });

                                    Common.UI.ShowDialog({
                                        title: 'Подтверждение',
                                        content: message,
                                        icon: 'confirm',
                                        showCloseBtn: false,
                                        additionalButtons: buttons
                                    });
                                }
                                else {
                                    Common.ShowError('Не удалось сформировать реестр выплат');
                                }
                            },
                            error: function(e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                        </text>}
                    }
                }
            ]
        });

        $('#reestrPayGrid').kendoGrid({
            sortable: false,
            resizable: true,
            dataBound: function() {
                if (false)
                    for (var i = 0; i < this.columns.length; i++)
                        this.autoFitColumn(i);
            }
        });
    });
</script>