@using KadOzenka.Dal.GbuObject.Dto

<div class="form-horizontal col-sm-12" style="padding: 3%;">
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabel("Тур оценки")
        </div>
        <div class="col-sm-4">
            @(Html.Kendo().DropDownList()
                .Name("tourId")
                .DataTextField("Text")
                .DataValueField("Value")
                .Filter(FilterType.Contains)
                .Height(175)
                .DataSource(source =>
                {
                    source.Read(read => read.Action("GetRatingTours", "Tour"));
                }))
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabel("Тип")
        </div>
        <div class="col-sm-10">
            @(Html.Kendo().RadioButton()
                .Name("objectType")
                .Label(ObjectTypeExtended.Oks.GetEnumDescription())
                .Value((int)ObjectTypeExtended.Oks)
                .Checked(true))
            @(Html.Kendo().RadioButton()
                .Name("objectType")
                .Label(ObjectTypeExtended.Zu.GetEnumDescription())
                .Value((int)ObjectTypeExtended.Zu)
                .HtmlAttributes(new { style = "padding-left:1%;" }))
        </div>
    </div>
    <div class="form-group"></div>
    <div id="toolBar"></div>
    <div id="factorSettingsGrid"></div>
</div>

<script type="text/javascript">
        $(document).ready(function () {

            var tourDropDownList = $('#tourId').data('kendoDropDownList');
            tourDropDownList.bind('dataBound', reloadGrid);
            tourDropDownList.bind('change', reloadGrid);
            $('[name="objectType"]').on('change', reloadGrid);

            initToolBar();

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Html.Raw(Url.Action("GetInheritanceFactorSettings", "Task"))',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: function () {
                            var tourId = $('#tourId').val();
                            var objectType = $('input[name="objectType"]:checked').val();
                            return {
                                tourId: tourId,
                                objectType: objectType
                            };
                        }
                    },
                },
                error: function(response) {
                    if (response.xhr && response.xhr.responseText) {
                        Common.ShowError(response.xhr.responseText);
                    } else {
                        Common.ShowError();
                    }
                },
                batch: true,
                pageSize: 10,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false },
                            FactorName: { editable: false },
                            FactorInheritanceType: { editable: false },
                            Source: { editable: false },
                            CorrectFactorName: { editable: false }
                        }
                    }
                }
            });

            $("#factorSettingsGrid").kendoGrid({
                columns: [
                    {
                        title: "Фактор",
                        field: "FactorName",
                        filterable: {
                            cell: {
                                showOperators: false,
                                operator: "contains",
                                minLength: 999,
                                template: function(args) {
                                    args.element.addClass("k-textbox");
                                }
                            }
                        }
                    },
                    {
                        title: "Тип наследования",
                        field: "FactorInheritanceType",
                        filterable: {
                            cell: {
                                showOperators: false,
                                operator: "eq",
                                template: function (args) {
                                    var inheritanceTypeDataSource = new kendo.data.DataSource({
                                        transport: {
                                            read: {
                                                url: '@Html.Raw(Url.Action("GetFactorInheritanceTypes", "Task"))',
                                                dataType: "json"
                                            }
                                        }
                                    });
                                    args.element.kendoDropDownList({
                                        dataSource: inheritanceTypeDataSource,
                                        optionLabel: " ",
                                        dataTextField: "Text",
                                        dataValueField: "Text",
                                        valuePrimitive: true
                                    });
                                }
                            }
                        }
                    },
                    {
                        title: "Источник для факторов отсутствующих в данных ГБУ",
                        field: "Source",
                        filterable: {
                            cell: {
                                showOperators: false,
                                operator: "contains",
                                minLength: 999,
                                template: function (args) {
                                    args.element.addClass("k-textbox");
                                }
                            }
                        }
                    },
                    {
                        title: "Корректируемый фактор",
                        field: "CorrectFactorName",
                        filterable: {
                            cell: {
                                showOperators: false,
                                operator: "contains",
                                minLength: 999,
                                template: function (args) {
                                    args.element.addClass("k-textbox");
                                }
                            }
                        }
                    },
                ],
                filterable: {
                    mode: "row"
                },
                dataSource: dataSource,
                dataBound: changeToolBarButtonsClass,
                change: changeToolBarButtonsClass,
                autoBind: false,
                pageable: true,
                sortable: true,
                resizable: true,
                selectable: true
            });

            $("#factorSettingsGrid").data("kendoGrid").tbody.kendoTooltip({
                filter: "td",
                content: function (e) {
                    return e.target.text();
                },
                position: "top",
                autoHide: true,
                showAfter: 500
            });
        });


        
        function initToolBar() {
            $('#toolBar').kendoToolBar({
                items: [
                    {
                        type: 'button',
                        id: 'addBtn',
                        text: '',
                        attributes: { title: "Добавить" },
                        icon: 'add',
                        click: add
                    },
                    {
                        type: 'button',
                        id: 'editBtn',
                        text: '',
                        attributes: { title: "Изменить" },
                        icon: 'edit',
                        click: edit
                    },
                    /*{
                        type: 'button',
                        id: 'deleteBtn',
                        className: "k-state-disabled",
                        text: '',
                        attributes: { title: "Удалить" },
                        icon: 'delete',
                        click: deleteFactor
                    }*/
                ]
            });
        }


        function add() {
            showModalWithSetting("Добавление фактора", null);
        }

        function edit() {
            var selectedRow = getSelectedRowInGrid();
            showModalWithSetting("Редактирование фактора", selectedRow.Id);
        }

        function showModalWithSetting(modalTitle, settingId) {
            var tourId = $('#tourId').val();
            var objectType = $('input[name="objectType"]:checked').val();
            Common.UI.ShowWindow(modalTitle,
                '@Url.Action("EditInheritanceFactorSetting", "Task")' + `?id=${settingId}&tourId=${tourId}&objectType=${objectType}`,
                'editFactorWindow',
                reloadGrid,
                800,
                450);
        }


        /*function deleteFactor() {

        }*/


        function changeToolBarButtonsClass() {
            var row = getSelectedRowInGrid();
            if (row) {
                $('#editBtn').removeClass('k-state-disabled');
                //$('#deleteBtn').removeClass('k-state-disabled');
            }
            else {
                $('#editBtn').addClass('k-state-disabled');
                //$('#deleteBtn').addClass('k-state-disabled');
            }
        }


        function reloadGrid() {
            $('#factorSettingsGrid').data('kendoGrid').dataSource.read();
        }


        function getSelectedRowInGrid() {
            var grid = $("#factorSettingsGrid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);
                return data;
            }
            return undefined;
        }
</script>