@model KadOzenka.Web.Models.Task.ModelModel

<div id="toolbar"></div>
<div class="form-horizontal col-sm-12" style="margin-top: 10px">
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(x => x.Name)
        </div>
        <div class="col-sm-10">
            @Html.KendoTextBoxFor(x => x.Name, isReadonly: false)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(x => x.Description)
        </div>
        <div class="col-sm-10">
            @Html.KendoTextBoxFor(x => x.Description, isReadonly: false)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(x => x.AlgorithmTypeCode)
        </div>
        <div class="col-sm-10">
            @Html.KendoEnumDropDownListFor(x => x.AlgorithmTypeCode, isReadonly: false)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(x => x.Formula)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxAreaFor(x => x.Formula, colCount: 1, rowCount: 4, isReadonly: true)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(x => x.A0)
        </div>
        <div class="col-sm-10">
            @Html.KendoTextBoxFor(x => x.A0, isReadonly: false)
        </div>
    </div>
    
    <div style="padding-top: 2%;">
        <div id="factorToolbar"></div>
    </div>

    <div style="display: flex;">
        <div style="align-items: stretch">
            <div id="grid"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: '',
                    attributes: { title: "Обновить (не реализовано)" },
                    icon: 'refresh',
                    click: function () {
                        //TODO
                    }
                },
                {
                    type: 'button',
                    text: '',
                    attributes: { title: "Сохранить" },
                    icon: 'save',
                    click: function () {
                        var dto = {
                            Id: '@Model.Id',
                            GroupId: '@Model.GroupId',
                            Name: $('#Name').val(),
                            Description: $('#Description').val(),
                            AlgoritmType_Code: $('#AlgorithmTypeCode').val(),
                            Formula: $('#Formula').val(),
                            A0: $('#A0').val()
                        };

                        kendo.ui.progress($('body'), true); 

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Model", "Task")',
                            data: dto,                            
                            success: function (e) {
                                kendo.ui.progress($('body'), false);                                
                                Common.ShowMessage('Сохранено');                                                               
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                }
            ]
        });
        $('#factorToolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    id: 'add-factor',
                    text: '',
                    attributes: { title: "Добавить" },
                    icon: 'add'
                },
                {
                    type: 'button',
                    id: 'edit-factor',
                    text: '',
                    attributes: { title: "Изменить" },
                    icon: 'edit'
                },
                {
                    type: 'button',
                    id: 'remove-factor',
                    text: '',
                    attributes: { title: "Удалить" },
                    icon: 'delete'
                }
            ]
        });
        $(".k-toolbar [title]").kendoTooltip({
            position:"top"
        });


       



        var gridDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetModelFactors", "Task")',
                    contentType: 'application/json; charset=utf-8',
                    data: { modelId: @Model.Id },
                    dataType: 'json'
                }
            }
        });
        $('#grid').kendoGrid({
            dataSource: gridDataSource,
            columns: [
                {
                    field: 'Factor', title: 'Фактор'
                }, {
                    field: 'SignDiv', title: 'Деление', template: "#=SignDiv ? 'Да' : 'Нет'#", width: 100
                }, {
                    field: 'SignAdd', title: 'Сумма', template: "#=SignAdd ? 'Да' : 'Нет'#", width: 100
                }, {
                    field: 'SignMarket', title: 'Метка', template: "#=SignMarket ? 'Да' : 'Нет'#", width: 100
                }, {
                    field: 'B0', title: 'Коэф.', width: 100
                }, {
                    field: 'Weight', title: 'Вес', width: 250
                }
            ],
            height: "30em",
            scrollable: true,
            selectable: true
        });

        $('#AlgorithmTypeCode').data('kendoDropDownList').bind('change', AlgTypeChanged);
        function AlgTypeChanged() {
            var algType = this.value();
            $.ajax({
                url: '@Url.Action("GetFormula", "Task")' + '?modelId=@Model.Id&algType=' + algType,
                type: 'POST',                
                success: function (e) { 
                    $('#Formula').val(e.formula);
                },
                error: function (e) {                    
                    Common.ShowError(e.responseText);
                }
            });
        }

        $("#grid").data("kendoGrid").bind('change', GridChanged);
        function GridChanged() {
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            if (row.length == 0) {
                $('#edit-factor').addClass('k-state-disabled');
                $('#remove-factor').addClass('k-state-disabled');                
            }
            else {
                $('#edit-factor').removeClass('k-state-disabled');
                $('#remove-factor').removeClass('k-state-disabled');                
            }
        }

        $('#edit-factor').addClass('k-state-disabled');
        $('#remove-factor').addClass('k-state-disabled');  

        $('#add-factor').on('click', function () {
            Common.UI.ShowWindow('Редактирование фактора',
                '@Url.Action("EditModelFactor", "Task")' + '?modelId=@Model.Id',
                'editFactorWindow',
                function (e, param) {                        
                        if (param == true) {                            
                            location.reload();
                        }
                    },
                800, 400);
        });

        $('#edit-factor').on('click', function () {
            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);
                Common.UI.ShowWindow('Редактирование фактора',
                    '@Url.Action("EditModelFactor", "Task")' + '?id=' + data.Id + '&modelId=@Model.Id',
                    'editFactorWindow',
                    function (e, param) {                        
                        if (param == true) {                            
                            location.reload();
                        }
                    },
                    800, 400
                );
            }
        });

        $('#remove-factor').on('click', function () {

            var grid = $("#grid").data("kendoGrid");
            var row = grid.select();
            if (row.length > 0) {
                var data = grid.dataItem(row);

                Common.UI.ShowConfirm({
                    title: '',
                    content: 'Удалить фактор?',
                    onSuccess: function () {
                        kendo.ui.progress($('body'), true);
                        $.ajax({
                            url: '@Url.Action("DeleteModelFactor","Task")',
                            type: 'POST',
                            data: { id: data.Id },
                            success: function (response) {
                                kendo.ui.progress($('body'), false);
                                if (response.Success) {                                                                        
                                    Common.ShowMessage(response.Success);
                                    location.reload();
                                }
                            },
                            error: function (response) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(response.responseText);
                            }
                        });
                    }
                });
            }
        });
    });
</script>

<style>
    .factor-buttons button {
        width: 10rem;
        margin-bottom: 5px !important;
        display: block;
    }
</style>