@using System.Collections
@using KadOzenka.Web.Helpers
@using KadOzenka.Web.Models.GbuObject
@using ObjectModel.Directory.Common
@model KadOzenka.Web.Models.Task.EstimatedGroupViewModel

<style>
	.footer {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
</style>
@using (Html.BeginForm("SetEstimatedGroup", "Task", FormMethod.Post))
{
	@Html.Hidden("IdTask", (int)ViewBag.TaskId)
	<div class="form-horizontal col-sm-12">
		<div class="form-group"></div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabel("Атрибут кода группы")
			</div>
			<div class="col-sm-10">
				@Html.KendoDropDownListWithAutocompleteFor(m => m.IdCodeGroup, (IEnumerable)ViewData["Attributes"])
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabel("Атрибут кадастрового квартала")
			</div>
			<div class="col-sm-10">
				@Html.KendoDropDownListWithAutocompleteFor(m => m.IdCodeQuarter, (IEnumerable)ViewData["Attributes"])
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabel("Атрибут типа помещения")
			</div>
			<div class="col-sm-10">
				@Html.KendoDropDownListWithAutocompleteFor(m => m.IdTypeRoom, (IEnumerable)ViewData["Attributes"])
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				@Html.CustomLabel("Атрибут для проставления оценочной группы")
			</div>
			<div class="col-sm-10">
				@Html.KendoDropDownListWithAutocompleteFor(m => m.IdEstimatedSubGroup, (IEnumerable)ViewData["Attributes"])
			</div>
		</div>

		<div class="form-group footer">
			<div class="col-sm-7">
				@( await Html.PartialAsync("/Views/Shared/PartialTemplateStorage.cshtml", new TemplateStorageViewModel
			{
				ControllerName = "Task",
				ActionName = "GetTemplatesEstimated"
			}))
			</div>

			<div class="col-sm-2 col-sm-offset-3">
				<button style="float: right" id="execute" class="k-button" type="button">Выполнить</button>
			</div>
		</div>
	</div>
}

<script src="/js/custom-validation.js"></script>
<script type="text/javascript">
	function fillForm(data) {
		data.forEach(function (val) {
			if ($('#' + Object.keys(val)[0]).data('kendoDropDownList')) {
				$('#' + Object.keys(val)[0]).data('kendoDropDownList').value(val[Object.keys(val)[0]]);
			}
		});
	}

	$(document).ready(function() {
		templateStorage.init(@((int) DataFormStorege.EstimatedGroup), "SaveTemplateEstimatedGroupObject", "Task", "GetTemplatesOneGroup", "Task", fillForm);

		$('#execute').on('click', function() {
			kendo.ui.progress($('body'), true);
			var form = $('form');
			var formObject = Common.Functions.FormToObject(form);
			$.post(form.attr('action'), formObject)
				.done(function (response) {
					if (response.Errors) {
						var errors = $.map(distinctErrors(response.Errors),
							function(el) {
								return el.Message;
							});
						Common.ShowError(errors);
						return;
					}
					Common.ShowMessage("Операция успешно добавлена в очередь");
				}).always(function () {
				kendo.ui.progress($('body'), false);
			});
		});
	});
</script>
