@using Platform.Web.Models.CoreAttachment
@model KadOzenka.Web.Models.Task.TaskModel

<form>
    <ul id="ls_panelbar" class="panelbar">
        <li id="SectionMainData" data-expand>
            <span>Основные данные</span>
            <div class="form-horizontal col-sm-12" style="padding: 1%">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.CreationDate)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoDatePickerFor(m => m.CreationDate, format: "dd.MM.yyyy hh:mm:ss")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.EstimationDate)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoDatePickerFor(m => m.EstimationDate, format: "dd.MM.yyyy")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.IncomingDocumentRegNumber)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoTextBoxFor(m => m.IncomingDocumentRegNumber)
                    </div>
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.IncomingDocumentDate)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoDatePickerFor(m => m.IncomingDocumentDate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.IncomingDocumentDescription)
                    </div>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.IncomingDocumentDescription, new { @class = "k-textbox", style = "resize: none;", @readonly = true, rows = 5, cols = 30 })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.NoteType)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoEnumDropDownListFor(m => m.NoteType)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.TourYear)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoTextBoxFor(m => m.TourYear)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.CustomLabelFor(m => m.Status)
                    </div>
                    <div class="col-sm-4">
                        @Html.KendoTextBoxFor(m => m.Status)
                    </div>
                </div>
            </div>
        </li>

        <li id="SectionAttachment" data-expand>
            <span>Образы</span>
            <div class="form-group col-sm-12">
                <div>
                    @await Html.PartialAsync("~/Views/CoreAttachment/AttachPartialGrid.cshtml",
                        new AttachmentPartialModel {ObjectId = (int) Model.Id, RegisterId = Model.RegisterId})
                </div>
            </div>
        </li>

        <li id="SectionXMLFiles" data-expand>
            <span>XML-Файлы</span>
            <div class="form-group col-sm-12">
                <div class="form-horizontal col-sm-12">
                    <input name="files" id="files" type="file" aria-label="files" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div style="padding: 1%;">
                    @(Html.Kendo().Grid<KadOzenka.Web.Models.DataImporterLayout.DataImporterLayoutDto>()
                        .Name("Grid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.Id)
                                .ClientTemplate("<div style='text-align:center'> <a href='" +
                                                Url.Action("Download", "DataImporterLayout", new { importId = "#= Id #", downloadResult = false, fileNameWithExtension = "#= TemplateFileName #" }, null) +
                                                "' class='k-icon k-i-download'></a> </div>")
                                .Title("Файл").Width(80);
                            columns.Bound(p => p.DateCreated).Format("{0:dd.MM.yyyy hh:mm:ss}");
                            columns.Bound(p => p.UserName);
                            columns.Bound(p => p.TemplateFileName);
                        })
                        .Navigatable()
                        .Pageable()
                        .Sortable()
                        .Scrollable(s => s.Height("auto"))
                        .DataSource(s =>
                            s.Ajax().Read(read => read.Action("GetXmlDocuments", "Task", new { taskId = Model.Id }).Type(HttpVerbs.Get)).PageSize(5)
                        )
                        )
                </div>
            </div>
        </li>
    </ul>
</form>



@section styles {
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
    <style>
        #ls_panelbar {
            width: 99% !important;
        }
        .hidden {
            display: none;
        }
    </style>
}

@section scripts {
    <script src="~/js/jquery.fancybox.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var panelbar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
            panelbar.expand('li[data-expand]');
            $("#navigation-menu a").mPageScroll2id({
                highlightSelector: "#navigation-menu a"
            });

            var files = $('#files').kendoUpload({
                multiple: true,
                localization: {
                    select: 'Загрузить XML'
                },
                validation: {
                    allowedExtensions: ['.xml', '.zip', '.rar']
                },
                async: {
                    autoUpload: true,
                    saveUrl: '@Url.Action("ImportGknFromTask", "DataImport")'
                },
                upload: function (e) {
                    e.data = { taskId: '@Model.Id' }
                },
                success: function (e) {
                    if (e.operation === "upload") {
                        Common.ShowMessage("Загрузка успешно добавлена в очередь, по результатам загрузки будет отправлено сообщение");
                    }
                },
                error: function (e) {
                    if (e.XMLHttpRequest.responseText) {
                        Common.ShowError(e.XMLHttpRequest.responseText);
                    } else {
                        Common.ShowError("При загрузке выбранного файла возникла ошибка (подробно в журнале ошибок)");
                    }
                }
            }).data('kendoUpload');
        });
    </script>
}