@model KadOzenka.Web.Models.Declarations.SignatoryModel

@using (Html.BeginForm("EditSignatory", "Declarations", FormMethod.Post))
{
@Html.HiddenFor(m => m.Id)
<div class="form-horizontal col-sm-12">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(m => m.Name)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "k-textbox", @style = "width: 100%;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabelFor(m => m.Position)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Position, new { @class = "k-textbox", @style = "width: 100%;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button disabled="@(Model.Id == -1 ? !Model.IsCreateSignatory : !Model.IsEditSignatory)" style="float: right" id="save" class="k-button" type="button">Сохранить</button>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#save').on('click',
            function () {
                kendo.ui.progress($('body'), true);
                var form = $('form');
                var formObject = Common.Functions.FormToObject(form);

                $.post(form.attr('action'), formObject).done(function (response) {
                    kendo.ui.progress($('body'), false);
                    if (response.Errors) {
                        var errors = $.map(distinctErrors(response.Errors),
                            function(el) {
                                return el.Message;
                            });
                        Common.ShowError(errors);
                        return;
                    }

                    if (response.Success && response.data) {
                        $('#@Html.IdFor(m => m.Id)').val(response.data.Id);
                        $('#save').attr("disabled", !response.data.IsEditSignatory);
                        Common.ShowMessage(response.Success);
                    }
                });
            });
    });

    function distinctErrors(errors) {
        var result = [];
        $.each(errors, function(index, event) {
            var events = $.grep(result, function (e) {
                return event.Message === e.Message;
            });
            if (events.length === 0) {
                result.push(event);
            }
        });

        return result;
    }
</script>