@using KadOzenka.Web.Models.Declarations;
@using ObjectModel.Directory.Declarations;

@model KadOzenka.Web.Models.Declarations.BookModel

@using (Html.BeginForm("EditBook", "Declarations", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-2">
                @(Html.Kendo().RadioButtonFor(m => m.Type).Label("Декларации").Value((long)BookType.Declarations).Enable(Model.Id == -1))
            </div>
            <div class="col-sm-2">
                @(Html.Kendo().RadioButtonFor(m => m.Type).Label("Уведомления").Value((long)BookType.Notifications).Enable(Model.Id == -1))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Prefics)
            </div>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Prefics, new { @class = "k-textbox", @style = "width: 100%;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.DateBegin)
            </div>
            <div class="col-sm-10">
                @Html.KendoDatePickerFor(m => m.DateBegin, isReadonly: false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.DateEnd)
            </div>
            <div class="col-sm-10">
                @Html.KendoDatePickerFor(m => m.DateEnd, isReadonly: false)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(m => m.Status)
            </div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label("Закрыта").Value((long)BookStatus.Closed))
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                @(Html.Kendo().RadioButtonFor(m => m.Status).Label("Открыта").Value((long)BookStatus.InWork))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button style="float: right" id="save" class="k-button" type="button">Сохранить</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#save').on('click',
            function () {
                kendo.ui.progress($('body'), true);
                var form = $('form');
                var formObject = Common.Functions.FormToObject(form);

                $.post(form.attr('action'), formObject).done(function (response) {
                    kendo.ui.progress($('body'), false);
                    if (response.Errors) {
                        var errors = $.map(distinctErrors(response.Errors),
                            function(el) {
                                return el.Message;
                            });
                        Common.ShowError(errors);
                        return;
                    }

                    if (response.Success && response.data) {
                        $('#@Html.IdFor(m => m.Id)').val(response.data.Id);
                        let typeButtons = $('input[type="radio"][name="Type"] ');
                        $(typeButtons[0]).attr("readonly", true);
                        $(typeButtons[1]).attr("readonly", true);
                        Common.ShowMessage(response.Success);
                    }
                });
            });
    });

    function distinctErrors(errors) {
        var result = [];
        $.each(errors, function(index, event) {
            var events = $.grep(result, function (e) {
                return event.Message === e.Message;
            });
            if (events.length === 0) {
                result.push(event);
            }
        });

        return result;
    }
</script>